## messageSource=classpath:/sharjahcore/messages/email-forgottenPassword_$lang.properties
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#666666">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a>
#end

#if (${ctx.messages.lang} == "ar")
  <html dir="rtl" lang="ar">
#else
  <html>
#end

	<head>
	</head>
	<body bgcolor="#ffffff"
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
		<tr>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td align="center" valign="top">
				<table width="610" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#fff">
					<tr>
						<td align="center" valign="top" bgcolor="#FFFFFF">
							<table width="570" cellpadding="0" cellspacing="0" border="0" align="center">
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
                           #if (${ctx.messages.lang} == "ar")
										<td align="right" valign="top" >
									#else
										<td align="left" valign="top" >
									#end									
									<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>#if(${ctx.messages.salutationar} ne "")  ${ctx.messages.salutationar} ${ctx.displayName}#end</b>,</font></p>
									<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>#if(${ctx.messages.salutation} ne "")${ctx.messages.salutation} ${ctx.displayName}#end</b>,</font></p>								
								    <p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.line}</b>,</font></p>				
									<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.line1}<a href="${ctx.secureResetPasswordUrl}"><font color="#666666">${ctx.messages.here}</font></a> ${ctx.messages.line11} </b>,</font></p>
									<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.line2}<a href="${ctx.baseUrl}/login/pw/request/external"><font color="#666666">${ctx.messages.here}</font></a> ${ctx.messages.line22} </b>,</font></p>
									<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.line3}</b>,</font></p>
								    <p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.line32}</b>,</font></p>
									<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.line33}</b>,</font></p>
									 #if (${ctx.messages.lang} == "ar")
										<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.line4}</b>,</font></p>
									#end	
									<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.signatur1}</b>,</font></p>
									<p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.signatur2}</b>,</font></p>
									
									</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>
	</table>
</body>
</html>
