## messageSource=classpath:/sharjahcore/messages/email-orderConfirmation_$lang.properties
#macro( genHtmlBoldFont $text )
<font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>$text</b></font>
#end
#macro(genHtmlLinkStartTag $url)
<a href="$url"><font color="#666666">
#end
#macro(genHtmlLinkEndTag)
</font></a>
#end
#macro(genHtmlLink $url $textColor $bodyContent)
<a href="$url"><font color="$textColor">$bodyContent</font></a>
#end

#if (${ctx.messages.dir} == "rtl")
  <html dir="rtl" lang="ar">
#else
  <html>
#end
<head>
</head>
<body bgcolor="#ffffff">
	#set ($accountUrl = "${ctx.baseUrl}/my-account/orders")
	#if ( $ctx.order.guestCustomer )
		#set ($orderInfoUrl = "${ctx.baseUrl}/guest/order/${ctx.order.guid}")
	#else
		#set ($orderInfoUrl = "${ctx.baseUrl}/my-account/order/${ctx.order.code}")
	#end
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
<tr>
	<td>&nbsp;</td>
</tr>
<tr>
<td align="center" valign="top">
<table width="610" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#fff">
<tr>
<td align="center" valign="top" bgcolor="#FFFFFF">
<table width="570" cellpadding="0" cellspacing="0" border="0" align="center">
<tr>
	<td valign="middle">&nbsp;</td>
</tr>
                                <tr>
								<td valign="middle">
									</td>
								</tr>
								<tr>
									<td height="30" align="right" valign="middle" bgcolor="#000000">
										#if (! $ctx.isGuest())
											<font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><a href="${ctx.secureBaseUrl}"><font color="#FFFFFF">${ctx.messages.home}</font></a> |
										#end <a href="${ctx.baseUrl}/store-finder"><font color="#FFFFFF">${ctx.messages.storeFinder}</font></a> &nbsp;&nbsp;</font>
									</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
<tr>
#if (${ctx.messages.dir} == "rtl")
										<td align="right" valign="top" >
									#else
										<td align="left" valign="top" >
									#end
<p dir="${ctx.messages.dir}" style="margin:2px 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.getMessage('salutation',${ctx.displayName})}</b>,</font></p>

<p dir="${ctx.messages.dir}" style="margin:2px 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('thankYouForOrder', "#genHtmlLinkStartTag($orderInfoUrl)", "#genHtmlBoldFont(${ctx.order.code})", "#genHtmlLinkEndTag()", "#genHtmlBoldFont(${ctx.order.totalPriceWithTax.formattedValue})")}</font></p>
<br>
#if (${ctx.order.deliverySlot.beginTime})
	<p dir="${ctx.messages.dir}" style="margin:2px 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.delivrySlot} ${ctx.order.deliverySlot.deliveryDate} (${ctx.order.deliverySlot.beginTime} - ${ctx.order.deliverySlot.endTime}) ${ctx.messages.deliverySlotSuffix}</font></p>
	<br>
#else
	<p dir="${ctx.messages.dir}" style="margin:2px 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.delivrySlot} ${ctx.order.deliverySlot.deliveryDate} ${ctx.messages.deliverySlotSuffix}</font></p>
	<br>
#end

<p dir="${ctx.messages.dir}" style="margin:2px 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.editopage}</font> #genHtmlLinkStartTag($orderInfoUrl)<font color="#666666">${ctx.messages.here}</font>#genHtmlLinkEndTag()</p>

<br/>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#51585c" class="products" style="border: 1px solid #51585c;">
	<tr dir="${ctx.messages.dir}">
		<td dir="${ctx.messages.dir}">
			<table>
				<tr dir="${ctx.messages.dir}">
					<td dir="${ctx.messages.dir}" width="33%" valign="top" rowspan="2">
						<font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.deliveryAddress}</b></font>
						#if(${ctx.order.deliveryItemsQuantity} > 0)
							<p dir="${ctx.messages.dir}" style="margin:3px 0">
								<font color="#666666" size="2" face="Arial, Helvetica, sans-serif">
								    ${ctx.order.deliveryAddress.firstName} ${ctx.order.deliveryAddress.lastName}<br/>
									${ctx.order.deliveryAddress.line1}<br/>
									#if($ctx.order.deliveryAddress.line2.line2 && $ctx.order.deliveryAddress.line2 != '')${ctx.order.deliveryAddress.line2}<br/>#end
									${ctx.order.deliveryAddress.town}<br/>
									${ctx.order.deliveryAddress.country.name}
								</font>
							</p>
						#else
							<p dir="${ctx.messages.dir}" style="margin:3px 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.noDelivery}</font></p>
						#end
					</td>
					<td dir="${ctx.messages.dir}" width="33%" valign="top">
						<font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.paymentDetails}</b></font>
						#if($ctx.order.paymentInfo && $ctx.order.paymentMode.name == 'Credit Card')
							<p style="margin:3px 0 5px 0;"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.getMessage('paymentCardType', ${ctx.order.paymentInfo.cardType})}</font></p>
						#end
						#if(${ctx.order.paymentMode})
							<p style="margin:3px 0 5px 0;"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.order.paymentMode.name}</font></p>
						#end
					</td>
				</tr>
				<tr>
					<td width="33%" valign="top" dir="${ctx.messages.dir}">
						#if(${ctx.order.paymentInfo})
							<p dir="${ctx.messages.dir}" style="margin:10px 0 0 0"><font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.billingAddress}</b></font></p>

							<p dir="${ctx.messages.dir}" style="margin:2px 0 0 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">
								${ctx.order.paymentInfo.billingAddress.firstName} ${ctx.order.paymentInfo.billingAddress.lastName}<br/>
								#if($ctx.order.paymentInfo.billingAddress.line1 && $ctx.order.paymentInfo.billingAddress.line1 != '') ${ctx.order.paymentInfo.billingAddress.line1}<br/>#end
								#if($ctx.order.paymentInfo.billingAddress.line2 && $ctx.order.paymentInfo.billingAddress.line2 != '') ${ctx.order.paymentInfo.billingAddress.line2}<br/>#end
								${ctx.order.paymentInfo.billingAddress.town}<br/>
								${ctx.order.paymentInfo.billingAddress.country.name}
							</font></p>
						#end
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br/>
	#if ($ctx.order.deliveryOrderGroups.size() > 0)
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#51585c" class="products" style="border: 1px solid #51585c;">
		<tr dir="${ctx.messages.dir}">
			<td dir="${ctx.messages.dir}">
				#foreach( $orderGroup in ${ctx.order.deliveryOrderGroups} )
					<table width="100%" cellpadding="0" cellspacing="0">
						<tr dir="${ctx.messages.dir}">
						#if (${ctx.messages.dir} == "rtl")
							<td dir="${ctx.messages.dir}" width="100%" colspan="4" height="30" bgcolor="#000000"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif" style="padding-left:5px"><b style="text-transform:uppercase;">${ctx.messages.yourDeliveryItems}</b></font></td>
						#else
							<td dir="${ctx.messages.dir}" width="100%" colspan="4" height="30" align="left" bgcolor="#000000"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif" style="padding-left:5px"><b style="text-transform:uppercase;">${ctx.messages.yourDeliveryItems}</b></font></td>
						#end
						</tr>
						<tr dir="${ctx.messages.dir}">
							<td dir="${ctx.messages.dir}" width="50%"><font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>&nbsp;</b></font></td>
							<td dir="${ctx.messages.dir}" width="17%" height="40px"><font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.quantity}</b></font></td>
							<td dir="${ctx.messages.dir}" width="17%" height="40px"><font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.itemPrice}</b></font></td>
							<td dir="${ctx.messages.dir}" width="16%" height="40px"><font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.total}</b></font></td>
						</tr>
						#foreach( $entry in ${orderGroup.entries} )
							<tr dir="${ctx.messages.dir}">
								<td dir="${ctx.messages.dir}">
									<table width="100%" border="0" cellpadding="0" cellspacing="0">
										<tr dir="${ctx.messages.dir}">
											<td dir="${ctx.messages.dir}" valign="top" width="110px" style="width:110px;padding-left:10px;padding-right:10px">
												<a href="${ctx.baseUrl}$entry.product.url" style="text-decoration:none">
													#foreach($image in $entry.product.images) #if($image.imageType == "PRIMARY" && $image.format == "thumbnail" )
														<img src="${ctx.mediaBaseUrl}$image.url" alt="" title="$entry.product.name"/>
													#end #end
												</a>
												&nbsp;
											</td>
											<td valign="top">
												<p dir="${ctx.messages.dir}"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">
													<a href="${ctx.baseUrl}$entry.product.url"><font color="#666666"><b>$entry.product.name</b></font></a>
												</p>
												#if (!$entry.product.baseOptions.isEmpty())
													#foreach ($option in $entry.product.baseOptions)
														#if ($option.selected && ($option.selected.url == $entry.product.url))
															<table width="100%" cellpadding="0" cellspacing="0">
																#foreach ($selectedOption in $option.selected.variantOptionQualifiers)
																	<tr>
																		<td dir="${ctx.messages.dir}" width="30%" valign="top"><p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">$selectedOption.name:</font></p></td>
																		<td dir="${ctx.messages.dir}" width="70%" valign="top"><p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">$selectedOption.value</font></p></td>
																	</tr>
																#end
															</table>
														#end
													#end
												#end
												#if (!$ctx.order.appliedProductPromotions.isEmpty())
													#foreach( $promotion in $ctx.order.appliedProductPromotions)
														#set ($displayed = false)
														#foreach ($consumedEntry in $promotion.consumedEntries)
															#if (!$displayed && ($consumedEntry.orderEntryNumber == $entry.entryNumber))
																#set ($displayed = true)
																<p dir="${ctx.messages.dir}"><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>${promotion.description}</b></font></p>
															#end
														#end
													#end
												#end
											</td>
										</tr>
									</table>
								</td>
								<td dir="${ctx.messages.dir}" valign="top"><p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">$entry.quantity</font></p></td>
								<td dir="${ctx.messages.dir}" valign="top"><p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">$entry.basePrice.formattedValue</font></p></td>
								<td dir="${ctx.messages.dir}" valign="top"><p><font color="#414a4f" size="3" face="Arial, Helvetica, sans-serif"><b>#if($entry.totalPrice.value > 0) $entry.totalPrice.formattedValue #else ${ctx.messages.free} #end</b></font></p></td>
							</tr>
						#end
					</table>
				#end
			</td>
		</tr>
	</table>
	#end
	#if ($ctx.order.pickupOrderGroups.size() > 0)
	<br/>
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="products">
		<tr dir="${ctx.messages.dir}">
			<td dir="${ctx.messages.dir}">
				#foreach( $orderGroup in ${ctx.order.pickupOrderGroups} )
					#set ($location = ${orderGroup.entries.get(0).deliveryPointOfService})

					<table width="100%" cellpadding="0" cellspacing="0" style="border: 1px solid #51585c;">
						<tr dir="${ctx.messages.dir}">
							<td dir="${ctx.messages.dir}" width="100%" colspan="4" height="30" align="left" bgcolor="#000000" style="padding-left:5px"><font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><b style="text-transform:uppercase;">
								${ctx.messages.pickupFrom}</b> - ${location.name}, ${location.address.line1}
								#if( ${location.address.line2} )${location.address.line2}#end, ${location.address.town}</font>
							</td>
						</tr>
						<tr dir="${ctx.messages.dir}">
							<td dir="${ctx.messages.dir}" width="50%"><font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>&nbsp;</b></font></td>
							<td dir="${ctx.messages.dir}" width="17%" height="40px"><font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.quantity}</b></font></td>
							<td dir="${ctx.messages.dir}" width="17%" height="40px"><font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.itemPrice}</b></font></td>
							<td dir="${ctx.messages.dir}" width="16%" height="40px"><font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.total}</b></font></td>
						</tr>
						#foreach( $entry in ${orderGroup.entries} )
							<tr>
								<td>
									<table width="100%" border="0" cellpadding="0" cellspacing="0">
										<tr dir="${ctx.messages.dir}">
											<td dir="${ctx.messages.dir}" valign="top" width="110px" style="width:110px;padding-left:10px;padding-right:10px;padding-bottom:5px">
												<a href="${ctx.baseUrl}$entry.product.url" style="text-decoration:none">
													#foreach($image in $entry.product.images) #if($image.imageType == "PRIMARY" && $image.format == "thumbnail" )
														<img src="${ctx.mediaBaseUrl}$image.url" alt="" title="$entry.product.name"/>
													#end #end
												</a>
												&nbsp;
											</td>
											<td valign="top">
												<p dir="${ctx.messages.dir}"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">
													<a href="${ctx.baseUrl}$entry.product.url"><font color="#666666"><b>$entry.product.name</b></font></a>
												</p>
												#if (!$entry.product.baseOptions.isEmpty())
													#foreach ($option in $entry.product.baseOptions)
														#if ($option.selected && ($option.selected.url == $entry.product.url))
															<table width="100%" cellpadding="0" cellspacing="0">
																#foreach ($selectedOption in $option.selected.variantOptionQualifiers)
																	<tr>
																		<td dir="${ctx.messages.dir}" width="30%" valign="top"><p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">$selectedOption.name:</font></p></td>
																		<td dir="${ctx.messages.dir}" width="70%" valign="top"><p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">$selectedOption.value</font></p></td>
																	</tr>
																#end
															</table>
														#end
													#end
												#end
												#if (!$ctx.order.appliedProductPromotions.isEmpty())
													#foreach( $promotion in $ctx.order.appliedProductPromotions)
														#set ($displayed = false)
														#foreach ($consumedEntry in $promotion.consumedEntries)
															#if (!$displayed && ($consumedEntry.orderEntryNumber == $entry.entryNumber))
																#set ($displayed = true)
																<p dir="${ctx.messages.dir}"><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>${promotion.description}</b></font></p>
															#end
														#end
													#end
												#end
											</td>
										</tr>
									</table>
								</td>
								<td dir="${ctx.messages.dir}" valign="top"><p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">$entry.quantity</font></p></td>
								<td dir="${ctx.messages.dir}" valign="top"><p><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">$entry.basePrice.formattedValue</font></p></td>
								<td dir="${ctx.messages.dir}" valign="top"><p><font color="#414a4f" size="3" face="Arial, Helvetica, sans-serif"><b>#if($entry.totalPrice.value > 0) $entry.totalPrice.formattedValue #else ${ctx.messages.free} #end</b></font></p></td>
							</tr>
							<tr>
								<td colspan="4"></td>
							</tr>
						#end
					</table>
					<br/>
				#end
			</td>
		</tr>
	</table>
	#end
<br/>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#51585c" class="products" style="border: 1px solid #51585c;">
	<tr>
		<td valign="top">
			<table width="100%">
				<tr>
					<td width="30%">&nbsp;</td>
					<td width="20%">&nbsp;</td>
					<td width="50%"><font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.orderTotals}</b></font></td>
				</tr>
				<tr>
					<td valign="top">
						&nbsp;
					</td>
					<td>&nbsp;</td>
					<td valign="top">
						<table width="100%" cellpadding="0" cellspacing="0">
							<tr>
								<td dir="${ctx.messages.dir}" valign="top" width="45%"><p style="margin: 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.subtotal}:</b></font></p></td>
								<td dir="${ctx.messages.dir}" valign="top" width="10%">&nbsp;</td>
								<td dir="${ctx.messages.dir}" valign="top" width="45%"><p style="margin: 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.order.subTotal.formattedValue}</b></font></p></td>
							</tr>
							#if (${ctx.order.totalDiscounts.value} > 0)
                       <tr>
                                <td dir="${ctx.messages.dir}" valign="top"><p style="margin: 0"><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.savings}:</b></font></p></td>
                                <td dir="${ctx.messages.dir}" valign="top">&nbsp;</td>
                                <td dir="${ctx.messages.dir}" valign="top"><p style="margin: 0"><font color="#414a4f" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.order.totalDiscounts.formattedValue}</b></font></p></td>
                      </tr>
                     #end
							<tr>
								<td dir="${ctx.messages.dir}" valign="top"><p style="margin: 0 0 10px 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.delivery}:</b></font></p></td>
								<td dir="${ctx.messages.dir}" valign="top">&nbsp;</td>
								<td dir="${ctx.messages.dir}" valign="top"><p style="margin: 0 0 10px 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif"><b>#if(${ctx.order.deliveryCost.value} > 0) ${ctx.order.deliveryCost.formattedValue} #else ${ctx.messages.free} #end</b></font></p></td>
							</tr>
							<tr>
								<td dir="${ctx.messages.dir}" valign="top"><p><font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.total}:</b></font></p></td>
								<td dir="${ctx.messages.dir}" valign="top">&nbsp;</td>
								<td dir="${ctx.messages.dir}" valign="top"><p><font color="#333" size="3" face="Arial, Helvetica, sans-serif"><b>${ctx.order.totalPriceWithTax.formattedValue}</b></font></p></td>
							</tr>
							#if (${ctx.order.totalTax.value} > 0)
							<tr>
								<td dir="${ctx.messages.dir}" valign="top"><p><font color="#333" size="2" face="Arial, Helvetica, sans-serif"><b>${ctx.messages.totaltax}:</b></font></p></td>
								<td dir="${ctx.messages.dir}" valign="top">&nbsp;</td>
								<td dir="${ctx.messages.dir}" valign="top"><p><font color="#333" size="3" face="Arial, Helvetica, sans-serif"><b>${ctx.order.totalTax.formattedValue}</b></font></p></td>
							</tr>
							#end
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<table><tr>

#if (${ctx.messages.dir} == "rtl")
										<td align="right" valign="top" >
									#else
										<td align="left" valign="top" >
									#end

<br>
#if (${ctx.messages.dir} == "rtl")
  <p dir="${ctx.messages.dir}" style="margin:2px 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.editopage2}</font><a href="${ctx.secureBaseUrl}/${ctx.messages.pageeditolink}"><font color="#666666">${ctx.messages.here}</font></a></p>
<br>
#end
<p style="margin:2px 0"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.paragraph1}</font></p>
<ul dir="${ctx.messages.dir}">
	<li dir="${ctx.messages.dir}"><p dir="${ctx.messages.dir}"><font color="#333" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.paragraphe2} </font></p></li>
	<li dir="${ctx.messages.dir}"><p dir="${ctx.messages.dir}"><font color="#333" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.paragraphe3} </font></p></li>	

#if (${ctx.messages.dir} == "rtl")
	<li dir="${ctx.messages.dir}"><p dir="${ctx.messages.dir}"><font color="#333" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.paragraphe4} </font></p></li>										             
#end	

</ul>																						             
<p dir="${ctx.messages.dir}"><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.signature}</font> <br><font color="#666666" size="2" face="Arial, Helvetica, sans-serif">${ctx.messages.signature1}</font></p>								

</td></tr></table>

</td>
</tr>
<tr>
	<td>&nbsp;</td>
</tr>
<tr>
								<td height="30" align="right" valign="middle" bgcolor="#000000">
										<font color="#FFFFFF" size="2" face="Arial, Helvetica, sans-serif"><a href="${ctx.baseUrl}/faq"><font color="#FFFFFF">${ctx.messages.faq}</font></a> | <a href="${ctx.baseUrl}/contactus"><font color="#FFFFFF">${ctx.messages.contactUs}</font></a> | <a href="${ctx.baseUrl}/returnpolicy"><font color="#FFFFFF">${ctx.messages.termsAndCondition}</font></a> &nbsp;&nbsp;</font>
									</td>
								</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
<tr>
	<td>&nbsp;</td>
</tr>
</table>
</body>
</html>
