
.angle-view {
  overflow: hidden;
  max-width: 500px;
  margin: 10px auto;
  background-color:#fff;
}

.angle-view ul,
.angle-view li {
  margin: 0;
  padding: 0;
}

.angle-view li { list-style: none; }

.angle-view ul {
  width: 100%;
  height:100%;
}

.angle-view img {
  width: 90%;
  display: block;
  margin: 18px auto;
}

.angle-view-controls {
  direction: ltr;
  margin-bottom:50px;
  text-align:center;
}
