@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto-fontfacekit/Roboto-Regular-webfont.eot');
	src:
		url('../fonts/roboto-fontfacekit/Roboto-Regular-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/roboto-fontfacekit/Roboto-Regular-webfont.woff')
		format('woff'),
		url('../fonts/roboto-fontfacekit/Roboto-Regular-webfont.ttf')
		format('truetype'),
		url('../fonts/roboto-fontfacekit/Roboto-Regular-webfont.svg#RobotoRegular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto-fontfacekit/Roboto-Italic-webfont.eot');
	src: url('../fonts/roboto-fontfacekit/Roboto-Italic-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/roboto-fontfacekit/Roboto-Italic-webfont.woff')
		format('woff'),
		url('../fonts/roboto-fontfacekit/Roboto-Italic-webfont.ttf')
		format('truetype'),
		url('../fonts/roboto-fontfacekit/Roboto-Italic-webfont.svg#RobotoItalic')
		format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto-fontfacekit/Roboto-Bold-webfont.eot');
	src: url('../fonts/roboto-fontfacekit/Roboto-Bold-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/roboto-fontfacekit/Roboto-Bold-webfont.woff')
		format('woff'),
		url('../fonts/roboto-fontfacekit/Roboto-Bold-webfont.ttf')
		format('truetype'),
		url('../fonts/roboto-fontfacekit/Roboto-Bold-webfont.svg#RobotoBold')
		format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto-fontfacekit/Roboto-BoldItalic-webfont.eot');
	src:
		url('../fonts/roboto-fontfacekit/Roboto-BoldItalic-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/roboto-fontfacekit/Roboto-BoldItalic-webfont.woff')
		format('woff'),
		url('../fonts/roboto-fontfacekit/Roboto-BoldItalic-webfont.ttf')
		format('truetype'),
		url('../fonts/roboto-fontfacekit/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic')
		format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto-fontfacekit/Roboto-Thin-webfont.eot');
	src: url('../fonts/roboto-fontfacekit/Roboto-Thin-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/roboto-fontfacekit/Roboto-Thin-webfont.woff')
		format('woff'),
		url('../fonts/roboto-fontfacekit/Roboto-Thin-webfont.ttf')
		format('truetype'),
		url('../fonts/roboto-fontfacekit/Roboto-Thin-webfont.svg#RobotoThin')
		format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto-fontfacekit/Roboto-ThinItalic-webfont.eot');
	src:
		url('../fonts/roboto-fontfacekit/Roboto-ThinItalic-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/roboto-fontfacekit/Roboto-ThinItalic-webfont.woff')
		format('woff'),
		url('../fonts/roboto-fontfacekit/Roboto-ThinItalic-webfont.ttf')
		format('truetype'),
		url('../fonts/roboto-fontfacekit/Roboto-ThinItalic-webfont.svg#RobotoThinItalic')
		format('svg');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto-fontfacekit/Roboto-Light-webfont.eot');
	src: url('../fonts/roboto-fontfacekit/Roboto-Light-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/roboto-fontfacekit/Roboto-Light-webfont.woff')
		format('woff'),
		url('../fonts/roboto-fontfacekit/Roboto-Light-webfont.ttf')
		format('truetype'),
		url('../fonts/roboto-fontfacekit/Roboto-Light-webfont.svg#RobotoLight')
		format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto-fontfacekit/Roboto-LightItalic-webfont.eot');
	src:
		url('../fonts/roboto-fontfacekit/Roboto-LightItalic-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/roboto-fontfacekit/Roboto-LightItalic-webfont.woff')
		format('woff'),
		url('../fonts/roboto-fontfacekit/Roboto-LightItalic-webfont.ttf')
		format('truetype'),
		url('../fonts/roboto-fontfacekit/Roboto-LightItalic-webfont.svg#RobotoLightItalic')
		format('svg');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto-fontfacekit/Roboto-Medium-webfont.eot');
	src: url('../fonts/roboto-fontfacekit/Roboto-Medium-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/roboto-fontfacekit/Roboto-Medium-webfont.woff')
		format('woff'),
		url('../fonts/roboto-fontfacekit/Roboto-Medium-webfont.ttf')
		format('truetype'),
		url('../fonts/roboto-fontfacekit/Roboto-Medium-webfont.svg#RobotoMedium')
		format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto-fontfacekit/Roboto-MediumItalic-webfont.eot');
	src:
		url('../fonts/roboto-fontfacekit/Roboto-MediumItalic-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../fonts/roboto-fontfacekit/Roboto-MediumItalic-webfont.woff')
		format('woff'),
		url('../fonts/roboto-fontfacekit/Roboto-MediumItalic-webfont.ttf')
		format('truetype'),
		url('../fonts/roboto-fontfacekit/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic')
		format('svg');
	font-weight: 300;
	font-style: italic;
}

/* --- login screens */

.loginContainerWindow {
	font-size: 14px;
	line-height: 110%;
	color: #fff;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 200;
	font-style: normal;
	background-repeat: no-repeat;
	overflow: visible;
}

.loginContainerWindow .z-window-overlapped-body {
	background-color: transparent;
	border: none;
	background-repeat: no-repeat;
}

.loginContainerWindow .z-window-overlapped-cm-noborder {
	background-color: transparent;
	border: none;
	background-image: none;
}

.loginContainerWindow .z-window-overlapped-cnt-noborder {
	background-color: transparent;
	border: none;
	background-image: none;
	height: 450px !important;
	overflow: visible !important;
}

.loginContainerWindow div.z-grid {
	background-color: transparent;
	border: none;
	background-image: none;
}

.loginContainerWindow div.z-grid-body {
	background-color: transparent;
	border: none;
	background-image: none;
}

.loginContainerWindow tr.z-row td.z-row-inner {
	background-color: transparent;
	border: none;
	background-image: none;
	width: 1px;
}

.loginContainerWindow tr.z-row {
	background-color: transparent;
	border: none;
	background-image: none;
}

.login_grid.z-grid {
	margin: 238px 0 0 24px;
}

.login_grid.z-grid span.z-label {
	padding-right: 25px;
	color: #fff;
	font-size: 13px;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 200;
	font-style: normal;
}

.login_grid .z-checkbox-cnt {
	font-size: 11px;
	color: #999;
	padding-left: 4px;
	vertical-align: middle;
}

.login_grid td {
	vertical-align: middle;
}

.login_grid > tbody > tr > td {
	padding-bottom: 6px;
}

/* END --- login screens */




span.login-checkbox {
	position:absolute;
	left: 0;
	top: -7px;
}

span.login-checkbox label {
	white-space: normal;
}

*+html span.login-checkbox {
	top: 0;
}

.login-checkbox input { vertical-align:middle; }


.login_logo { position: absolute; right: 0; top: 0; }



/*--yellow-button --*/

.login_grid table.z-button {
	display: inline-block;
	width: auto;
	margin-top: 20px;
	min-width: 80px;
	height: 28px;
	border: none;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	font-family: roboto, Arial, sans-serif;
	font-weight: normal; /**bold**/
	font-size: 16px; /**14**/
	text-transform: uppercase;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.48);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.48);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.48);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.48);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eed43c, endColorstr=#cab433);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eed43c, endColorstr=#cab433);
	background-color: #cab433;
	background-image: -moz-linear-gradient(top, #eed43c, #cab433);
	background-image: -ms-linear-gradient(top, #eed43c, #cab433);
	background-image: -o-linear-gradient(top, #eed43c, #cab433);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#eed43c), to(#cab433) );
	background-image: -webkit-linear-gradient(top, #eed43c, #cab433);
	background-image: linear-gradient(top, #eed43c, #cab433);
	cursor: pointer;
	color: #000;
	text-align: center;
}

.login_grid table.z-button:hover {
	background-image: none;
	background-color: #eed43c;
}

.login_grid table.z-button .z-button-cm {
  width: 100%;
  height: 25px;
}

.loginContainerWindow input.z-textbox {
	width: 140px;
	height: 28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #21428b;
	padding: 4px 6px;
	color: #8a8fa3;
	font-size: 14px;
	background: #13275a;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.15) inset;
	-webkit-box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.15);
	transition: border linear .2s, box-shadow linear .2s;
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 200;
	font-style: normal;
}

.loginContainerWindow input.z-combobox-inp {
	width: 140px;
	height: 28px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #21428b;
	padding: 4px 6px;
	color: #8a8fa3;
	font-size: 14px;
	background: #13275a;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.15) inset;
	-webkit-box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.15);
	transition: border linear .2s, box-shadow linear .2s;
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 200;
	font-style: normal;
}

.loginContainerWindow span.z-combobox-btn {
	top: 5px !important;
	left: auto !important;
	right: 22px;
	position: absolute
}

.loginContainerWindow select { /**	width: 100%;  **/
	width: 160px; /****/
	height: 30px;
	outline: none;
	border: 1px solid #21428b;
	padding: 4px 6px;
	-webkit-appearance: none;
	color: #8a8fa3;
	font-size: 14px;
	background: url(images/selectbox_arrow.png) no-repeat center right
		#13275a;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.15) inset;
	-webkit-box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.15);
	transition: border linear .2s, box-shadow linear .2s;
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 200;
	font-style: normal;
}

.loginWarningLabel {
	color: #EED43C !important;
}

.loginErrorLabel {
	color: red !important;
}
