table.navigation_queries {
	background: white;
	padding: 6px 2px 1px 5px;
	width: 100%;
	table-layout: fixed;
}

.navigation_queries div.z-listbox {
	border: none;
	background: white;
}


table.navigation_queries tr.z-listbox-odd,tr.z-list-item-over {
	background: none;
}

.navigation_queries tr.z-list-item-seld {
	background: none;
}

.navigation_queries div.z-list-cell-cnt {
	padding:2px;
}

div.navigation-query-left {
	height:18px;
	width:3px;
}

div.navigation-query-right {
	height:18px;
	width:3px;
}

div.navigation-query-center {
	height:18px;
}



.navigation_collectionlist div.navigation-query-left {
	background: transparent url(images/collection_corners.gif) no-repeat scroll 0 0;
}

.navigation_collectionlist div.navigation-query-right {
	background:transparent url(images/collection_corners.gif) no-repeat scroll right 0;
}

.navigation_collectionlist div.navigation-query-center {
	background-color: #e1eff8;
	background-image: url(images/collection_bg.gif);
	background-repeat: repeat-x;
	width: 100%;
}

.navigation_savedquerylist div.navigation-query-left {
	background-color: #e3e4e9;
	border-left: 1px solid #cfd3d6;
	border-top: 1px solid #cfd3d6;
	border-bottom: 1px solid #cfd3d6;
	height: 30px;
}

.navigation_savedquerylist div.navigation-query-right {
	background-color: #e3e4e9;
	border-right: 1px solid #cfd3d6;
	border-top: 1px solid #cfd3d6;
	border-bottom: 1px solid #cfd3d6;
	height: 30px;
}

.navigation_savedquerylist div.navigation-query-center {
	background-color: #e3e4e9;
	border-top: 1px solid #cfd3d6;
	border-bottom: 1px solid #cfd3d6;
	height: 30px;
}

.navigation_dynamicquerylist div.navigation-query-left {
	background: transparent url(images/dynamic_query_corners.gif) no-repeat scroll 0 0;
}

.navigation_dynamicquerylist div.navigation-query-right {
	background:transparent url(images/dynamic_query_corners.gif) no-repeat scroll right 0;
}

.navigation_dynamicquerylist div.navigation-query-center {
	background:transparent url(images/dynamic_query_bg.gif) repeat-x scroll 0 0;
}

/* not used atm */
/*
.navigation_openbrowserlist div.navigation-query-left {
	background: transparent url(images/openbrowserlist_corners.gif) no-repeat scroll 0 0;
}

.navigation_openbrowserlist div.navigation-query-right {
	background:transparent url(images/openbrowserlist_corners.gif) no-repeat scroll right 0;
}

.navigation_openbrowserlist div.navigation-query-center {
	background:transparent url(images/openbrowserlist_bg.gif) repeat-x scroll 0 0;
}

.navigation_openbrowserlist {
	border: 0;
}*/

div.navigation-query-label {
	/*filter:alpha(opacity=100) !important;*/
	-moz-opacity:1.0 !important;
	-khtml-opacity: 1.0 !important;
	opacity: 1.0 !important;
	position: absolute;
	overflow: hidden;
	width: 95%;
	top: 4px;
	left: 6px;
	white-space: nowrap;
}

.navigation-query-label span {
	color: #000;
	font-size: 11px !important;
	line-height: 14px;
}

.navigation_queries  td.z-list-item-focus {
	background: none !important;
}

.catalog_section_container td.z-tree-row-focus {
	background: none !important;
}

.navigation_queries tr.z-list-item .z-hbox {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	position: relative;
	top: 0;
}


.navigation-query-center input {
	font-size: 8px;
	color: transparent;
	background: transparent url(images/collection_bg.gif) repeat-x scroll 0 0 !important;
	border: none !important;
	width: 10em;
}

.navigation_queries tr.z-list-item-seld .z-hbox {
	filter:alpha(opacity=100);
	-moz-opacity:1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;
}

.navigation_queries div.z-list-cell-cnt {
	position: relative;
	height: 1.8em;
	width: 98%;
}


.catalog_section_container div.z-dottree {
	border: none;
}

.navigation_queries div.z-separator-hor-bar {
	background: none;
	border-top: 1px solid #EEEEEE;
}



table.navigation-query-minimized {
	filter:alpha(opacity=40) !important;
	-moz-opacity:0.4 !important;
	-khtml-opacity: 0.4 !important;
	opacity: 0.4 !important;
}

.navigation-query-minimized div.navigation-query-left {
	background: transparent url(images/saved_query_corners.gif) no-repeat scroll 0 0;
}

.navigation-query-minimized div.navigation-query-right {
	background:transparent url(images/saved_query_corners.gif) no-repeat scroll right 0;
}

.navigation-query-minimized div.navigation-query-center {
	background:transparent url(images/saved_query_bg.gif) repeat-x scroll 0 0;
}


.navigation_queries td span.z-label {
	display: block;
	margin: 0 0 3px 3px;
}

.navigation_queries td div span.z-label {
	display: inline;
	margin: 0;
}



.collection-drag4new div.navigation-query-label {
	cursor: pointer;
	top: 3px;
	text-align: left;
}

div.collection-drag4new {
	position: relative;
	margin-left:4px;
	margin-right:5px;
	height:	2.2em;
	filter:alpha(opacity=40) !important;
	-moz-opacity:0.4 !important;
	-khtml-opacity: 0.4 !important;
	opacity: 0.4 !important;
}

div.coll-selected {
	filter:alpha(opacity=100) !important;
	-moz-opacity:1 !important;
	-khtml-opacity: 1 !important;
	opacity: 1 !important;
}





input.paste_to_collection_input {
	width: 0;
	height: 0;
	border: 0;
	padding: 0;
	background-color: transparent;
	position: absolute;
	z-index: -10;
}





.global-collection div.navigation-query-left {
	background: transparent url(images/global_collection_corners.gif) no-repeat scroll 0 0;
}

.global-collection div.navigation-query-right {
	background:transparent url(images/global_collection_corners.gif) no-repeat scroll right 0;
}

.global-collection div.navigation-query-center {
	background:transparent url(images/global_collection_bg.gif) repeat-x scroll 0 0;
}

.global-savedquery div.navigation-query-left {
	background-color: #e3e4e9;
	border-left: 1px solid #cfd3d6;
	border-top: 1px solid #cfd3d6;
	border-bottom: 1px solid #cfd3d6;
	height: 30px;
}

.global-savedquery div.navigation-query-right {
	background-color: #e3e4e9;
	border-right: 1px solid #cfd3d6;
	border-top: 1px solid #cfd3d6;
	border-bottom: 1px solid #cfd3d6;
	height: 30px;
}

.global-savedquery div.navigation-query-center {
	background-color: #e3e4e9;
	border-top: 1px solid #cfd3d6;
	border-bottom: 1px solid #cfd3d6;
	height: 30px;
}




div.show-all-label {
	cursor:pointer;
	color:black;
	margin-bottom:3px;
	padding-bottom:3px;
	padding-left:8px;
	padding-top:2px;
	width:100%;
	border-bottom:1px solid #E7E7E7
}

div.show-all-label:hover { background-color: #DAE7F6; }


div.undoRedoButtons {
	padding:5px 0 5px 10px;
	height: 12px;
	background:url(images/undo_header_background.gif) repeat-x;
	size:11px;
}

.undoRedoButtons > .z-label, .undoRedoButtons > img {
	cursor:pointer;
}

.undoRedoButtons .undoRedoButtonsDivider {
	color: #cccccc;
	cursor: auto;
}

.undoRedoButtons img {
	margin: 0 3px 2px 3px;
}

table.undoRedoActions {
	margin: 5px 0px;
	size:11px;
}

.undoRedoActions .redoAction,
.undoRedoActions .undoAction {
	padding: 5px 10px;
	margin: 0px 9px;
	border-bottom: 1px solid #f1f1f1;
	position:relative;
}

.latestAction .z-label{
	font-weight: bold;
}

.undoRedoActions .redoAction:hover,
.undoRedoActions .undoAction:hover {
	padding: 5px 10px;
	margin: 0px 9px;
	border-bottom: 1px solid #f1f1f1;
	position:relative;
	background-color: #dae7f6;
}

.undoAction .z-label {
	color: #666666;
	cursor:pointer;
}

.latestAction .z-label {
	color: #414141;
}

.latestAction > img {
	position:absolute;
	top:9px;
	left:0px;
	cursor:pointer;
}

.undoRedoActions .lastAction {
	border:none;
	padding-left: 10px;
}

.redoAction .z-label {
	color: #416AA3;
	cursor:pointer;
}

div.redoAction span.undoRedoCtxLabel
{
	color: #444 !important;
	font-size: x-small;
}

div.undoAction span.undoRedoCtxLabel
{
	color:#666 !important;
	font-size:x-small;
}

div.latestAction span.undoRedoCtxLabel
{
	color:#666 !important;
	font-size:x-small;
}








/* COCKPIT SELECTOR COMPONENT START */
div.cockpitSelector {
	padding: 3px;
	background: white;
	overflow: hidden;
}
.cockpitSelector td.cockpitSelectorItem div.z-list-cell-cnt {
	margin: 3px 2px 3px 1px;
}
.cockpitSelector td.cockpitSelectorActiveItem div.z-list-cell-cnt {
	margin: 3px 2px 3px 1px;
}
.cockpitSelector div.cockpitSelectorItem {
	border:none;
}
.cockpitSelector div.cockpitSelectorActiveItem {
	border:none;
}
td.cockpitSelectorItem div.z-list-cell-cnt {
	color: #414141;
	font-weight: bold;
	width:100%;
	white-space: nowrap;
	margin: 10px;
	margin-bottom: 3px;
	margin-top: 3px;
	margin-right: 2px;
	overflow: hidden;
	width:95%;
	font-size:12px;
	font-family:Arial,non-serif;
}
td.cockpitSelectorActiveItem div.z-list-cell-cnt {
	color: #712828;
	font-weight: normal;
	width:100%;
	position:relative;
	white-space: nowrap;
	margin: 10px;
	margin-bottom: 3px;
	margin-top: 3px;
	margin-right: 2px;
	overflow: hidden;
	width:95%;
	font-size:12px;
	font-family:Arial,non-serif;
}

.cockpitSelectorItem tr.z-listbox-odd {
	background-color: transparent;
}

.cockpitSelectorItem tr.z-list-item-seld {
	background: #bcd2ef; border: 1px solid #6f97d2;
}
/* COCKPIT SELECTOR COMPONENT END */


.typeSelectorTree  .searchIndicator {
	background: url("images/lazyload_progress.gif") no-repeat;
	visibility: hidden;
	width: 18px;
	margin-left: 5px;
	position: relative;
	top: 6px;
}

.typeSelectorTree.searching  .searchIndicator {
	visibility: visible;
}

.typeSelectorTree .z-dottree {
	height: 300px;
	overflow: auto;
	background: white;
	border: none;
	border-top: 1px solid #eee;
}

.typeSelectorTree.pageableTree .z-dottree {
	height: auto;
	overflow: hidden;
}

.typeSelectorTree div.z-dottree-body {
	overflow: visible;
}

.typeSelectorTree .z-tree-cell-cnt {
	white-space: nowrap;
}

.typeSelectorTree .searchBar {
	padding: 3px;
	padding-bottom: 6px;
	width: 262px;
}

.typeSelectorTree .optionsBtn {
	background-image:url(images/undo_header_background.gif);
	background-color: #ddd;
	border: 1px solid #CCC;
	margin-left: 5px;
	height: 22px;
}

.typeSelectorTree .advSearchBtn {
	border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0;
}

.typeSelectorTree .searchBar input.z-textbox {
    height: 16px !important;
}

.typeSelectorTree .typetree_inactive_item {
	opacity: 0.5;
}

div.saved-query-list-item-img-nonshared {
	position: absolute;
	overflow: hidden;
	width: 16px;
	height: 16px;
	top: 5px;
	left: 6px;
	white-space: nowrap;
	background:transparent url(images/icon_itemtype_savedquery.png) no-repeat scroll left 0;
}

div.saved-query-list-item-img-shared {
	position: absolute;
	overflow: hidden;
	width: 16px;
	height: 16px;
	top: 5px;
	left: 6px;
	white-space: nowrap;
	background:transparent url(images/icon_itemtype_savedqueryshared.png) no-repeat scroll left 0;
}

div.saved-query-list-item-navigation-query-label {
	position: absolute;
	overflow: hidden;
	width: 86%;
	top: 7px;
	left: 26px;
	white-space: nowrap;
}

div.section-toolbar {
	background: #D3D5D7;
	border-bottom: 1px solid #CCCCCC;
	padding: 2px
}

div.toolbar-buttons {
marging-left: 0 5px;
}

div.section-toolbar .toolbar-buttons a {
 padding: 0 3px;
}

.navigation_queries .navigation_savedquerylist tr.z-list-item .z-hbox {
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
	position: relative;
	top: 0;
}

/** TabFrame and TabFrameComponent definitions **/
.tabframe_component_wrapper .tabframe_toolbar {
	background: #D3D5D7;
	border-bottom: 1px solid #CCCCCC;
	padding: 2px
}

.tabframe_component_wrapper .tabframe_toolbar img {
	padding: 0 2px;
}

.tabframe_component_wrapper .tabframe_container {
	background: white;
	padding: 6px 2px 1px 5px;
	width: 100%;
}
