/* zkmaxmoz */
.z-portal-layout
  {overflow:hidden;visibility:hidden;zoom:1;}

.z-portal-children
  {margin:0;padding:0;overflow:hidden;float:left;zoom:1;}

.z-portal-children-cnt
  {overflow:hidden;}

.z-portal-children-body
  {overflow:hidden;zoom:1;}

.z-portal-layout-inner
  {overflow:hidden;}

td.z-table-children
  {vertical-align:top;}






/* zkexmoz */
.z-border-layout
{width:100%;height:100%;overflow:hidden;background-color:#CDE6F5;border:0;position:relative;visibility:hidden;}

.z-border-layout-icon
{overflow:hidden;width:16px;height:16px;float:right;background:transparent no-repeat 0 0;background-image:url(../../zkau/web/zkex/zul/img/layout/borderlayout-btn.gif);margin-left:2px;cursor:pointer;}

.z-north,.z-south,.z-west,.z-center,.z-east
{border:1px solid #9ECAD8;position:absolute;overflow:hidden;background-color:white;}

.z-west-noborder,.z-center-noborder,.z-east-noborder,.z-north-noborder,.z-south-noborder
{border:0;}

.z-west
{z-index:12;}

.z-center
{z-index:8;}

.z-east
{z-index:10;}

.z-north
{z-index:16;}

.z-south
{z-index:14;}

.z-east-splt,.z-west-splt
{position:absolute;height:6px;width:6px;z-index:12;background:#C4DCFB left;background-image:url("../../zkau/web/zul/img/splt/splt-h.png");cursor:e-resize;cursor:col-resize;line-height:1px;font-size:1px;}

.z-north-splt,.z-south-splt
{position:absolute;height:6px;width:6px;z-index:12;background:#C4DCFB top;background-image:url("../../zkau/web/zul/img/splt/splt-v.png");cursor:s-resize;cursor:row-resize;line-height:1px;font-size:1px;}

.z-west-splt
{z-index:11;}

.z-east-splt
{z-index:9;}

.z-north-splt
{z-index:15;}

.z-south-splt
{z-index:13;}

.z-west-header,.z-center-header,.z-east-header,.z-north-header,.z-south-header
{color:#444;font-size:11px;font-family:Tahoma,Verdana,Arial,Helvetica,sans-serif;font-weight:bold;padding:5px 3px 4px 5px;border-bottom:1px solid #9ecad8;background:transparent repeat-x 0 0;background-image:url(../../zkau/web/zkex/zul/img/layout/borderlayout-hm.png);white-space:nowrap;overflow:hidden;line-height:15px;zoom:1;}

.z-north-exp,.z-south-exp
{margin:3px;float:right;}

.z-east-exp,.z-west-exp
{margin-top:3px;margin-bottom:3px;margin-left:auto;margin-right:auto;float:none;}

.z-north-colps,.z-south-exp
{background-position:0 0;}

.z-north-colps-over,.z-south-exp-over
{background-position:-16px 0;}

.z-east-colps,.z-west-exp
{background-position:0 -16px;}

.z-east-colps-over,.z-west-exp-over
{background-position:-16px -16px;}

.z-south-colps,.z-north-exp
{background-position:0 -32px;}

.z-south-colps-over,.z-north-exp-over
{background-position:-16px -32px;}

.z-west-colps,.z-east-exp
{background-position:0 -48px;}

.z-west-colps-over,.z-east-exp-over
{background-position:-16px -48px;}

.z-east-colpsd,.z-west-colpsd,.z-south-colpsd,.z-north-colpsd
{background-color:#E1F0F2;width:22px;height:22px;z-index:30;border:1px solid #9ECAD8;overflow:hidden;position:absolute;}

.z-west-colpsd
{z-index:12;}

.z-east-colpsd
{z-index:10;}

.z-north-colpsd
{z-index:16;}

.z-south-colpsd
{z-index:14;}

.z-east-colpsd-over,.z-west-colpsd-over,.z-south-colpsd-over,.z-north-colpsd-over
{cursor:pointer;background-color:#EEFCFF;}






/* normmoz */

div.z-debugbox
  {position:absolute;border:1px solid #77c;width:60%;z-index:99000;background:white;}

.noscript
  {width:100%;height:100%;position:absolute;z-index:32000;top:0;left:0;filter:alpha(opacity=60);opacity:.6;zoom:1;text-align:center;background:#E0E1E3;}

.noscript p
  {background:white;font-weight:bold;color:black;margin:10% 15%;padding:10px 0;border:1px solid black;filter:alpha(opacity=100);opacity:1;}

.z-label  ,.z-radio-cnt  ,.z-checkbox-cnt  ,.z-slider-pp  ,input.button  ,input.file  ,.z-loading  ,.z-errbox
  {font-family:Verdana  ,Tahoma  ,Arial  ,Helvetica  ,sans-serif;font-size:12px;font-weight:normal;}

.z-upload-icon
  {overflow:hidden;background-image:url(../../zkau/web/zk/img/prgmeter.png);}

.z-modal-mask
  {width:100%;height:100%;position:absolute;top:0;left:0;filter:alpha(opacity=60);opacity:.6;z-index:30000;zoom:1;background:#E0E1E3;}

.z-loading
  {background-color:#6eadff;position:absolute;cursor:wait;padding:3px;white-space:nowrap;border:1px solid #83B5F7;z-index:31000;}

.z-loading-indicator
  {background-color:#FFF;color:#102B6D;border:1px solid #83B5F7;white-space:nowrap;padding:6px;}

.z-apply-loading-icon  ,.z-loading-icon
  {background:transparent no-repeat center;background-image:url(../../zkau/web/zk/img/progress2.gif);height:16px;width:16px;}

.z-apply-mask
  {width:100%;height:100%;background:#E0E1E3;position:absolute;z-index:89000;top:0;left:0;filter:alpha(opacity=60);opacity:.6;zoom:1;}

.z-apply-loading-indicator
  {border:1px solid #A6C5DC;background-color:#FFF;color:#102B6D;white-space:nowrap;padding:2px;font:normal 12px Verdana  ,Tahoma  ,Arial  ,Helvetica  ,sans-serif;cursor:wait;}

.z-apply-loading
  {position:absolute;background-color:#CEDFEC;border:1px solid #99C6E9;z-index:89500;padding:3px;cursor:wait;overflow:hidden;white-space:nowrap;}

.z-inline-block
  {display:-moz-inline-box;vertical-align:top;display:inline-block;}

.z-word-wrap
  {word-wrap:break-word;}

.z-overflow-hidden
  {overflow:hidden;}

.z-dd-stackup
  {height:100%;width:100%;position:absolute;left:0;top:0;z-index:16800;background-image:url(../../zkau/web/img/spacer.gif);}

.z-clear
  {clear:both;height:1px;width:1px;line-height:0;font-size:0;overflow:hidden;}


.z-dragged
  {background:#E0EAF0;color:#888;}

.z-drag-over
  {background:#ADD2FF;}

span.z-drop-allow  ,span.z-drop-disallow
  {background-repeat:no-repeat;vertical-align:top;display:-moz-inline-box;display:inline-block;width:16px;min-height:16px;height:16px;}

span.z-drop-allow
  {background:transparent no-repeat 0 -64px;background-image:url(../../zkau/web/zul/img/misc/drag.png);}

span.z-drop-disallow
  {background:transparent no-repeat 0 -80px;background-image:url(../../zkau/web/zul/img/misc/drag.png);}

div.z-drop-ghost
  {border:1px solid #6699CE;}

div.z-drop-cnt
  {width:120px;height:18px;background-image:url(../../zkau/web/zul/img/misc/drop-bg.gif);padding:2px;font-size:12px;font-weight:normal;font-family:Verdana  ,Tahoma  ,Arial  ,Helvetica  ,sans-serif;}

.z-fileupload-img
  {width:16px;padding-top:4px;}

.z-fileupload-add
  {cursor:pointer;background:transparent no-repeat 0 -23px;background-image:url(../../zkau/web/zul/img/misc/fileupload.gif);width:16px;height:17px;}

.z-fileupload-delete
  {cursor:pointer;background:transparent no-repeat 0 0;background-image:url(../../zkau/web/zul/img/misc/fileupload.gif);width:16px;height:17px;}

.z-msgbox
  {display:-moz-inline-box;display:inline-block;background-repeat:no-repeat;vertical-align:top;cursor:pointer;border:0;width:32px;height:32px;}

.z-msgbox-question
  {background-image:url(../../zkau/web/zul/img/msgbox/question-btn.png);}

.z-msgbox-exclamation
  {background-image:url(../../zkau/web/zul/img/msgbox/warning-btn.png);}

.z-msgbox-imformation
  {background-image:url(../../zkau/web/zul/img/msgbox/info-btn.png);}

.z-msgbox-error
  {background-image:url(../../zkau/web/zul/img/msgbox/stop-btn.png);}

div.z-errbox
  {margin:0;padding:1px;border:1px outset #DD7870;cursor:pointer;background:#ECAEA9;position:absolute;z-index:88000;}

div.z-progressmeter
  {background:#E0E8F3 repeat-x scroll 0 0;background-image:url(../../zkau/web/zk/img/prgmeter_bg.png);border:1px solid #6F9CDB;text-align:left;height:17px;}

span.z-progressmeter-img
  {display:-moz-inline-box;display:inline-block;background:#A4C6F2 repeat-x scroll left center;background-image:url(../../zkau/web/zk/img/prgmeter.png);height:17px;line-height:0;font-size:0;}

.z-messagebox
  {word-break:break-all;overflow:auto;}

.z-messagebox-btn
  {min-width:45pt;width:100%;}

.z-auxheader-cnt
  {font-size:12px;font-weight:normal;font-family:Verdana  ,Tahoma  ,Arial  ,Helvetica  ,sans-serif;border:0;margin:0;padding:0;overflow:hidden;}

.z-word-wrap .z-auxheader-cnt
  {word-wrap:break-word;}















/* buttons */

button.z-button
  {padding:0!important;margin:0!important;border:0!important;background:transparent!important;font-size:1px!important;width:3px!important;height:0px!important;}

span.z-button
  {display:-moz-inline-box;vertical-align:bottom;display:inline-block;margin:1px 1px 0 0;}



.z-button .z-button-tl
  {background-repeat:no-repeat;background-position:0 0;width:3px;height:3px;padding:0;margin:0;}

.z-button .z-button-tm
  {background-repeat:repeat-x;background-position:0 0;}

.z-button .z-button-tr
  {background-repeat:no-repeat;background-position:-3px 0;width:3px;height:3px;padding:0;margin:0;}

.z-button .z-button-cl
  {background-repeat:no-repeat;background-position:0 0;width:3px;padding:0;margin:0;text-align:right;}

.z-button .z-button-cm
  {margin:0;overflow:hidden;vertical-align:middle;text-align:center;padding:0 5px;background-repeat:repeat-x;background-position:0 0;white-space:nowrap;}

.z-button .z-button-cr
  {background-repeat:no-repeat;background-position:-3px 0;width:3px;padding:0;margin:0;}

.z-button .z-button-bl
  {background-repeat:no-repeat;background-position:0 -3px;width:3px;height:3px;padding:0;margin:0;}

.z-button .z-button-bm
  {background-repeat:repeat-x;background-position:0 -3px;height:3px;}

.z-button .z-button-br
  {background-repeat:no-repeat;background-position:-3px -3px;width:3px;height:3px;padding:0;margin:0;}


/* END buttons */






.z-tabbox
  {overflow:hidden;visibility:hidden;}

.z-tabs-cnt .z-tab-hl  ,.z-tabs-cnt .z-tab-hr  ,.z-tabs-cnt .z-tab-hm  ,.z-tabs-cnt .z-tab-text
  {display:block;}

.z-tab-text  ,.z-tab-ver-text  ,.z-tab-accordion-text  ,.z-tab-accordion-lite-text
  {overflow:hidden;text-overflow:ellipsis;}

.z-tabs .z-tabs-space
  {height:2px;border:1px solid #7EAAC6;border-top:0 none;font-size:1px;line-height:1px;background:#F2FCFF none repeat scroll 0 0;}

.z-tabs-scroll .z-tabs-space
  {background:none;border:0;height:auto;}

.z-tabs .z-tabs-cnt
  {background:transparent none repeat scroll 0 0;padding-left:5px;border-bottom:1px solid #7EAAC6;list-style-image:none;list-style-position:outside;list-style-type:none;display:block;margin:0;width:100%;zoom:1;}

.z-tabs
  {overflow:hidden;background:transparent none repeat scroll 0 0;border:0;padding:0;margin:0;position:relative;}

.z-tabs-scroll
  {border:1px solid #7EAAC6;background:#FAFDFE none repeat scroll 0 0;padding-bottom:2px;zoom:1;}

.z-tabs-header
  {width:100%;margin:0;position:relative;overflow:hidden;zoom:1;}

.z-tabs-header .z-clear
  {height:0;}

.z-tabs-scroll .z-tabs-cnt
  {background:#C7E3F3 repeat-x scroll 0 top;background-image:url(../../zkau/web/zul/img/tab/tabs-bg.png);border-bottom:1px solid #7EAAC6;padding-left:5px;padding-top:1px;list-style-image:none;list-style-position:outside;list-style-type:none;display:block;margin:0;zoom:1;-moz-user-select:none;}

.z-tabs-cnt li
  {position:relative;font-family:Verdana  ,Tahoma  ,Arial  ,Helvetica  ,sans-serif;font-size:12px;cursor:default;display:block;float:left;padding:0;margin:0;-moz-user-select:none;}

.z-tab-close
  {background-image:url(../../zkau/web/zul/img/tab/tab-close.gif);background-repeat:no-repeat;cursor:pointer;display:block;width:11px;height:12px;position:absolute;right:3px;top:3px;z-index:15;opacity:.8;filter:alpha(opacity=80);zoom:1;}

a.z-tab-close:hover  ,.z-tab-close-over
  {background-position:-11px 0;}

.z-tab-hl
  {position:relative;padding-left:10px;background:transparent no-repeat 0 -128px;background-image:url(../../zkau/web/zul/img/tab/tab-corner.png);-moz-outline:none;outline:none;cursor:pointer;}

.z-tab-hr
  {background:transparent no-repeat scroll right -128px;background-image:url(../../zkau/web/zul/img/tab/tab-corner.png);padding-right:10px;display:block;}

.z-tab-hm
  {padding-left:2px;padding-right:1px;overflow:hidden;cursor:pointer;background:transparent repeat-x scroll 0 -128px;background-image:url(../../zkau/web/zul/img/tab/tab-hm.png);}

.z-tab-hm-close
  {padding-right:10px;}

.z-tabs-scroll .z-tabs-right-scroll
  {border-bottom: 1px solid #8DB2E3;cursor: pointer;height: 64px;position: absolute;right: 0px;top: 0px;width: 18px;z-index: 25;}

.z-tabs-scroll .z-tabs-left-scroll
  {border-bottom: 1px solid #8DB2E3;cursor: pointer;height: 64px;left: 0px;position: absolute;top: 0px;width: 18px;z-index: 25;}

.z-tabs-header-scroll
	{margin-left: 18px;margin-right: 18px;}


.z-window-resize-faker
  {position:absolute;border:1px dashed #1854C2;overflow:hidden;z-index:60000;left:0;top:0;background-color:#D7E6F7;filter:alpha(opacity=50);opacity:.5;}

.z-window-move-ghost
  {position:absolute;background:#D7E6F7;overflow:hidden;filter:alpha(opacity=65)!important;opacity:.65!important;cursor:move!important;}

.z-window-move-ghost dl
  {border:1px solid #538BA2;margin:0;padding:0;overflow:hidden;display:block;background:#D7E6F7;line-height:0;font-size:0;}







.z-separator-hor  ,.z-separator-hor-bar
  {height:7px;overflow:hidden;line-height:0;font-size:0;}

.z-separator-ver  ,.z-separator-ver-bar
  {display:-moz-inline-box;display:inline-block;width:10px;overflow:hidden;}

.z-separator-hor-bar
  {background-image:url(../../zkau/web/img/dot.gif);background-position:center left;background-repeat:repeat-x;}

.z-separator-ver-bar
  {background-image:url(../../zkau/web/img/dot.gif);background-position:top center;background-repeat:repeat-y;}




.z-button-disd
  {color:gray;cursor:default;opacity:.6;-moz-opacity:.6;filter:alpha(opacity=60);}





.z-window-modal-header  ,.z-window-popup-header  ,.z-window-highlighted-header  ,.z-window-overlapped-header  ,.z-window-embedded-header
  {overflow:hidden;zoom:1;color:#222;padding-bottom:4px;font-family:Verdana  ,Tahoma  ,Arial  ,Helvetica  ,sans-serif;font-size:12px;font-weight:normal;}

.z-window-modal-cnt  ,.z-window-highlighted-cnt  ,.z-window-modal-cnt-noborder  ,.z-window-highlighted-cnt-noborder  ,.z-window-overlapped-cnt-noborder
  {margin:0;padding:2px;background:white;overflow:hidden;zoom:1;}

.z-window-embedded-icon  ,.z-window-popup-icon  ,.z-window-modal-icon  ,.z-window-overlapped-icon  ,.z-window-highlighted-icon
  {background:transparent no-repeat 0 0;height:16px;width:16px;overflow:hidden;float:right;cursor:pointer;margin-left:2px;}

.z-window-embedded-hl  ,.z-window-modal-hl  ,.z-window-highlighted-hl  ,.z-window-overlapped-hl  ,.z-window-popup-hl
  { padding-left:6px;zoom:1;}

.z-window-embedded-hr  ,.z-window-modal-hr  ,.z-window-highlighted-hr  ,.z-window-overlapped-hr  ,.z-window-popup-hr
  { padding-right:6px;zoom:1;}

.z-window-modal-cl  ,.z-window-highlighted-cl  ,.z-window-overlapped-cl
  {background:transparent repeat-y 0 0;padding-left:6px;zoom:1;}

.z-window-modal-cr  ,.z-window-highlighted-cr  ,.z-window-overlapped-cr
  {background:transparent repeat-y right 0;padding-right:6px;zoom:1;}


.z-popup-cl, .z-popup-cr {
	background: transparent !important;
	z-index: 10000 !important;
	position: relative;
}


/* IE */
.z-panel-header{
	overflow: hidden;
}


