.page-orderConfirmationPage {
//gestion d'Order et Billing
	.well-global {
		background-color: @color-concrete;
		border-color: transparent;
		.well-headline {
			border-color: @border-color;
			font-family: 'playfairdisplay-bold', arial, sans-serif;
			font-size: @font-size-base;
		}
		.order-detail-overview {
			.item-label {
				font-family: 'roboto-bold', arial, sans-serif;
			}
			.item-value {
			        font-size: 0.7692307692307694rem;
				@media @mquery-mobile-max {
					font-size: 1rem;
	        		text-align: right;
	        	}
			}
		}
		.well-content {
			padding: 40px 30px 20px 30px;
			.label-order {
				font-family: 'roboto-bold', arial, sans-serif;
				font-size: 20px;
			}
		}
	}
	@media @mquery-desktop {
		.price--line {
			flex-direction: column;
		}
		#wrapper-content {
			.price--sticker {
				margin: auto 0.3rem;
			}
		}
	}
	@media (max-width: 1024px) {
		.account-section-content div {
			text-align: inherit;
		}
	}
//gestion du wish et shopping
	.account-orderdetail {
		.cart--footer-bottom{
		    align-items: flex-end;
		    display: flex;
		    flex-direction: column;
        	padding: 30px 50px 0px 0px;
        	@media @mquery-mobile-max {
        		padding-left: 30px;
        	}
			.button--orderconfirmation--global {
				padding: 0.5em 1em;
		   		width: 25%;
		   		@media @mquery-mobile-max {
		   			width: 100%;
		   		}
		   		&:first-child {
					margin-bottom: 20px;
		   		}
			}
		}
	}

	#cboxLoadedContent {
		.wishListPopin {
			.wishListPopin--button {
				margin-top: 4px;
				div {
					button {
						border-radius: 6px;
						font-size: 0.8rem;
						font-weight: normal;
						width: 100%;
					}
					&:first-child {
						@media @mquery-desktop {
							padding-left: 0;
						}
					}
					&:last-child {
						@media @mquery-desktop {
							padding-right: 0;
						}
					}
				}
			}
		}
	};
	#colorbox {
		#cboxWrapper {
	 		#cboxContent {
				#cboxTitle {
					height: 0;
					padding: 1rem 2.3rem 0.846154rem 0.769230769230769rem;
				}
			}
		}
	}
}
.print-configiration {
	text-align: right;
}

.label-print-confirmation {
	 color: @color-red;
    font-family: playfair-display-regular, arial, sans-serif;
    font-size: 0.7rem;
    font-weight: bold;
}
