@import "_navigation.less";

header {
  background: @header-background-color;
  margin-bottom: @grid-gutter-width;

  .page-cartPage &,
  .page-homepage &,
  .page-productGrid &,
  .page-searchGrid &,
  .page-search &,
  .page-cartPage &,
  .pageType-CategoryPage & {
	margin-bottom: 0;
  }
}
