#cart {
	position: fixed;
	z-index: 6;
	right: 0;
	width: 20em;
	display: none;
	overflow-y: auto;
	height: 75%;
}

#cart > .header {
	padding: 10px;
	background-color: #ccc;
}

#cart > .wrapper {
	padding: 10px;
	background-color: #fff;
}

#cart > .wrapper img {
	width: 32px;
	height: 32px;
}

#cart > .wrapper input {
	width: 60px;
}

#cart > .footer {
	padding: 10px;
	background-color: #ccc;
}
