.asm_store__finder{
  font-family: "Open Sans", sans-serif;
}


.asm_store__finder--pagination{
  margin-bottom: 20px;
}

.asm_store__finder--pagination-label {
  padding-top: 15px;
}

.asm_store__finder--pagination .btn-link{
  color: #0486e0;
  text-decoration: none;
}

.asm_store__finder--pagination .btn-link:disabled{
  color: #cadbee;
}


.asm_store__finder .store__finder--navigation-list{
  border-color: #dce1e8;
  border: 0;
}

.asm_store__finder .store__finder--navigation-list .asm__list__entry {
  height: 56px;
}

.asm_store__finder .store__finder--navigation-list .asm__list__entry:nth-child(2n) label {
  background-color: #fff;
}
.asm_store__finder .store__finder--navigation-list .asm__list__entry:last-child label {
  border-bottom: 0;
}

.asm_store__finder .store__finder--navigation-list .asm__list__entry input {
  display: none;
}
.asm_store__finder .store__finder--navigation-list .asm__list__entry label {
  margin: 0;
  height: 100%;
  font-size: 13px;
  padding: 0 14px 0 10px;
  display: table;
  width: 100%;
  cursor: pointer;
  position: relative;
  background: #eef3f7;
  border-bottom: 1px solid #dce1e8;
}
.asm_store__finder .store__finder--navigation-list .asm__list__entry label:hover {
  background: #d2dbe6;
}
.asm_store__finder .store__finder--navigation-list .asm__list__entry input:checked + label {
  background: #96bbe1;
  color: #fff !important;
}
.asm_store__finder .store__finder--navigation-list .asm__list__entry input:checked + label:after {
  display: block;
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  top: 50%;
  right: -1px;
  background: transparent;
  border: 14px solid transparent;
  border-right-color: #fff;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.asm_store__finder .store__finder--navigation-list .asm__list__entry .entry__info {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.asm_store__finder .store__finder--navigation-list .asm__list__entry .entry__name {
  display: block;
}
.asm_store__finder .store__finder--navigation-list .asm__list__entry .entry__city {
  display: block;
  font-weight: normal;
}
.asm_store__finder .store__finder--navigation-list .asm__list__entry .entry__distance {
  display: table;
  height: 100%;
  width: 80px;
  border-left: 1px solid #dce1e8;
}
.asm_store__finder .store__finder--navigation-list .asm__list__entry .entry__distance span {
  display: table-cell;
  vertical-align: middle;
  padding: 0 0 0 5px;
  text-align: center;
  white-space: nowrap;
}



.asm_store__finder .store__finder--details-back{
  color: #bdc6d2 !important;store__finder--panel
  background-color: transparent !important;
  border-color: transparent !important;
  padding-left: 0;
}

@media (max-width: 1023px){
  .asm_store__finder .find-store-display .store__finder--navigation {
    width: 50%;
    border: 0;
  }
  .asm_store__finder .store__finder--panel{
    width: 200%;
    margin: 0;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }

  .asm_store__finder.show-store .store__finder--panel {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  .asm_store__finder .store__finder--panel .store__finder--details{
    display: block;
  }
  .asm_store__finder .store__finder--details .store__finder--details-openings dl dt {
    float: left;
  }
  
  .store__finder--panel .store__finder--navigation{
  width: 100%;
  }

  .asm_store__finder .store__finder--details .store__finder--details-back {
    display: inline-block !important;
  }
}

.store__finder--details-openings {
	background: #fff;
	padding: 0px 5px;
}
.headerBorder {
    border-bottom: 1px solid #cfcfcf;
	margin: 0px 0px 10px 0px;
	padding-bottom: 5px;
}
.margin0 {
	margin: 0px;
}
.js-store-displayName {
    color: @color-thunderbird;
	font-size: 20px;
	font-weight: bold;
}

.openings__title {
    color: @color-thunderbird;
	font-size: 16px;
	font-weight: bold;
}

.js-store-features li:before {
	content: "-";
	line-height: 22px;
	padding-right: 10px;
}

.js-store-features li {
	font-size: 14px;
}

.js-store-phone {
	font-size: 18px;
}

.store__finder--search .searchBtn {
	width: auto;
}

.button {
	padding: 0.23076923076923078rem 0.4615384615384615rem !important;
}

.store__finder--search .col-sm-8 {
	padding-left: 0px;
}

@media ( max-width :767px) {
	.store__finder--details-info {
		margin-top: 20px;
	}
	.store__finder--panel {
		overflow: visible;
	}
	.store__finder--details-openings .storeOpenings {
		margin-top: 20px;
	}
	.store__finder--details-openings .storeOpenings dt {
		font-size: 14px;
		color: #f00;
		width: 8rem;
	}
	.store__finder--details-openings .storeOpenings dd {
		margin-left: 6rem;
		font-size: 14px;
	}
	.store__finder--panel .store__finder--navigation {
		z-index: 4;
	}
	.store__finder--details-openings .col-xs-12 {
		padding-left: 0px !important;
	}
	.store__finder--search .searchBtn {
		max-height: 45px;
	}
	.store__finder--search .searchBtn {
		height: auto;
	}
	.js-store-features{
		margin-bottom:15px;
	}
}

@media ( max-width :768px) {
	.store__finder--panel .store__finder--navigation {
		z-index: 4;
	}
}

@media ( min-width :768px) {
	.store__finder--details-openings .storeOpenings dt {
		width: 4rem;
	}
	.store__finder--panel .store__finder--details .store__finder--map {
		min-height: 16.5rem;
	}
	.footer {
		margin-top: 15px;
	}
	#storeFinder .col-md-6 {
		padding-left: 0px;
	}
	.breadcrumb {
		margin-bottom: 0px;
	}
}
@media (max-width :992px) {
	.searchBtn {
		margin-top: 10px;
	}
}

