@custom-icon-font-path: "<%= fontPath %>";
@custom-icon-font-name: "<%= fontName %>";
@font-face {
	font-family: '<%= fontName %>';
	src: ~"url('@{custom-icon-font-path}@{custom-icon-font-name}.eot')";
	src: ~"url('@{custom-icon-font-path}@{custom-icon-font-name}.eot?#iefix') format('embedded-opentype')",
	~"url('@{custom-icon-font-path}@{custom-icon-font-name}.woff') format('woff')",
	~"url('@{custom-icon-font-path}@{custom-icon-font-name}.ttf') format('truetype')",
	~"url('@{custom-icon-font-path}@{custom-icon-font-name}.svg#@{icon-font-svg-id}') format('svg')";
}
// Catchall baseclass
.yicon {
	&:extend(.glyphicon);
	font-family: '<%= fontName %>';
}
<% _.each(glyphs, function(glyph) { %>.yicon-<%= glyph.name %> {&:before{content: "\<%= glyph.codepoint %>";}}
<% }); %>

