<zk>
	<window xmlns="http://www.zkoss.org/2005/zul"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:h="http://www.w3.org/1999/xhtml"
		xmlns:zk="http://www.zkoss.org/2005/zk"
		xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd "
		id="manageMediaWindow"
		sclass="manageMedia_Window"
		width="800px"
		height="600px"
		closable="true" 
		mode="popup"
		
		apply="de.hybris.liveeditaddon.cockpit.wizards.mediacontainermanagement.ManageMediaWindowComposer">
		<style src="/cmscockpit/css/managemediawizard.css" />
	    <borderlayout id="windowContainer">
	        <center style="overflow:auto;">
                <div id="mainArea">
                    <div id="top" class="topImageSlot">
                        <div class="col_left">
                            <div class="main_facet_group col_a">
                                <div class="facet_label">
                                    <label value="${c:l('window.managemedia.preview.title')}" />
                                </div>
                                <div id="primaryImage" class="primaryImage"></div>
                            </div>
                            <div class="primary_image">
                                <div id="autoResizeContainer" class="autoResizeDropContainer"></div>
                            </div><!--/primary_image-->
                        </div><!--/col_left-->
                        <div class="col_right">
                            <div id="mediaFormatContainer" class="dropContainer"></div>
                        </div>
                    </div>
                </div>
            </center>
			<south height="5%" >
					<div>
			           	<button class="buttonDone" id="btnDone" visible="false" label="${c:l('general.save')}"  tooltiptext="${c:l('general.save')}" />
			           	<button class="buttonDone" id="btnCancel" label="${c:l('general.cancel')}"  tooltiptext="${c:l('general.cancel')}" />
			        </div>
			</south>
		</borderlayout>
</window>
</zk>