body.page-wishlist-detail-view {
	overflow: auto;
	@media print {
		header {
			display: none;
		}
		#underHeader {
			height: inherit !important;
			overflow: hidden;
			footer {
				display: none;
			}
		}
		.cart--continue-shopping-button-container {
			display: none;
		}
		.account-section {
			.account-section-header {
				display: none;
			}
		}
		.account-section-content {
			div {
				@media (max-width: 1024px) {
					text-align: left !important;
				}
			}
		}
		.add-to-cart--configuration-select {
			select {
				width: inherit;
			}
		}
		.productAddToCart {
			display: none;
		}
		#whishConfirmationMssg {
			display: none;
		}
		.row-left {
			display: none;
		}
		.availability--stock {
			color: #2db95d !important;
		}
		.price {
			span {
				color: @color-red !important;
			}
			.percentDiscount {
				color: @color-white !important;
				background-color: @color-red !important;
			}
			.firstPrice {
				color: #8B8989 !important;
				font-size: 1.2rem;
			}
			.price--line {
				color: @color-red !important;
				font-size: 1.2rem;
			}
			.discountPrice {
				font-size: 1.2rem;
			}
			#grandTotalPrice {
				font-size: 1.2rem;
			}
			.percentDiscount {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		.qty-selector--btn {
			display: none;
		}
		.qty-selector--input {
			border-top: none;
			border-bottom: none;
			float: left;
			text-align: left;
		}
	}
}
