body.page-orderConfirmationPage {
	@media print {
		overflow: inherit !important;
		header {
			display: none;
		}
		#underHeader {
			height: inherit !important;
			overflow: inherit;
			footer {
				display: none;
			}
		}
		#content {
			width: 100%;
		}
		.account-section-content {
			div {
				@media (max-width: 1024px) {
					text-align: left !important;
				}
			}
		}
		.cartItem--image {
			a {
				display: inline-block;
				img {
					width: inherit;
				}
			}
		}
		.checkout__confirmation__content--component {
			&:nth-child(4) {
				page-break-before: always;
			}
			.well-global {
				background-color: #f3f3f3 !important;
			}
			div {
				.pull-right {
					.continue__shopping {
						display: none;
					}
				}
				#cartTotalsDisplay {
					.cart--totals {
						background-color: #f3f3f3 !important;
						.cart--totals-title {
							background-color: #fff !important;
						}
						.cart--totals-total {
							.cart--totals-total-amount {
								span {
									color: @color-red !important;
								}
							}
						}
						.cart--totals-taxes {
							text-align: right;
						}
					}
				}
				.item__list {
					.cartItem {
						.cartItem--infos {
							.cartItem--infos-part-1 {
								.cartItem--subinfos {
									.cartItem--name {
										font-size: 10pxi;
										margin-bottom: inherit;
										a {
											font-size: 10pxi;
										}
									}
								}
								.cartItem--price {
									.price--sticker {
										color: @color-black !important;
										font-size: 20px;
										margin: inherit;
										padding: inherit;
									}
									.price--line {
										margin: inherit;
										.price--strike {
											color: #808285 !important;
											font-size: 10pxi;
											span {
												color: #808285 !important;
												font-size: 10pxi;
											}
										}
										.price--discount {
											font-size: 10pxi;
											span {
												font-size: 10pxi;
											}
										}
										.price--base {
											color: @color-red !important;
											font-size: 24px;
											margin: inherit;
											span {
												color: @color-red !important;
												font-size: 20px;
											}
										}
									}
								}
								.cartItem--stock {
									.cartItem--stock-ok {
										color: #2db95D !important;
										font-size: 10pxi;
										margin: inherit;
										padding-left: 0px !important;
									}
								}
							}
							.cartItem--infos-part-2 {
								.cartItem--qty-selection-row {
									.cartItem--qty {
										margin: inherit;
									}
									.price--total {
										span {
											color: @color-red !important;
										}
									}
								}
							}
						}
					}
				}
				.well-quinary {
					.well-content {
						padding-left: 15pxi !important;
					}
				}
				.checkout-success__body {
					p {
						padding-left: 10pxi !important;
					}
				}
			}
		}
	}
}

@media print {
	a[href]:after {
		display: none;
	}
}

html {
	@media print {
		font-size: 12pxi;
	}
}
.cartItemHeader{
	padding:0px !important;
	height:auto !important;
	border-bottom: 1px solid #f3f3f3;
	.price--base *, .qty-selector, .price--currency, span, .cartItem--image, .cartItem--stock, .price, .price--total {
		background:transparent;
		color:@color-gray;
		font-size:18px !important;
		font-weight: bold;
		line-height:30px;
		margin-top:5px;
		text-align:left;
		text-transform: uppercase;
	}
	.cartItem--qty-selector{
		height: 30px;
	}
	.cartItem--image{
		padding-left:20px;
	}
}
@media(max-width:992px){
.cartContent .cartItemHeader{
display:none !important;
}
}
.cartItem.cartItemBody .cartItem--total{
		text-align: right;
		padding-left:20px;
		padding-right: 5px;
		font-size:24px;
		color:#676767 !important;
		font-size:24px !important;
		span{
		color:#676767 !important;
		font-size:24px !important;
		}
	}
.ui-autocomplete {
	background: @color-white;
	left: 0px;
	padding: 20px;
	position: absolute !important;
    top: 55px;
    width: 418px;
    z-index: 99;
}
.ui-autocomplete li {
	padding:5px 0px;
}
