.zoom {
	display:inline-block;
	position: relative;
	overflow: hidden;
}

/* magnifying glass icon */
.zoom img {
	display: block;
}

.zoom img::selection { 
	background-color: transparent;
}
