@import '_navigation.less';

header {
	border-bottom: 1px solid #f3f3f3;
	.page-cartPage &,
	.page-homepage &,
	.page-productGrid &,
	.page-searchGrid &,
	.page-search &,
	.page-cartPage &,
	.pageType-CategoryPage & {
		margin-bottom: 0;
	}
}
