  .facet__list--hidden {
	display: none;
  }
 
  .product-facet--values-more {
	display: block;
  }

  .product-facet--values-less {
	display: none;
  }
  
  .red-link {
  	color: red;
  }
 