.content {
	&--overflow {
		&-hidden {
			overflow: hidden;
		}
	}
}

#content {
	@media @mquery-desktop {
		padding-top: 19px;
	}
	.page-homepage & {
		@media @mquery-desktop {
			padding-top: 0;
		}
	}
}


.page-productGrid {
	#wrapper-content {
		@media @mquery-desktop {
			width: 95%;
		}
	}
}
.page-searchGrid {
	#wrapper-content {
		@media @mquery-desktop {
			width: 95%;
		}
	}
}

#wrapper-content {
	width: 100%;
	@media @mquery-desktop {
		margin: auto;
		width: @wrapper-page-content-width-desktop;
	}
	.page-homepage & {
		@media @mquery-desktop {
			max-width: 1400px;
			width: 100%;
		}
	}

	.page-productDetails & {
		@media @mquery-desktop {
			width: 100%;
		}
	}
}

.page-productDetails #wrapper-content {
	width: 100%;
	@media @mquery-desktop {
		margin: auto;
		width: @wrapper-page-content-width-desktop;
	}
}
