.footer {
	background-color: @color-thunderbird;
	margin-top: 15px;
	@media screen and @mquery-desktop-min {
		background-color: @color-thunderbird;
	}
	&--container {
		&--top {
			&--content {
				display: flex;
				flex-direction: column;
				padding-top: 10%;
				@media screen and @mquery-desktop-min {
					flex-direction: row;
					justify-content: space-between;
					padding-top: 3%;
				}
				&--item {
					margin-bottom: 18%;
					text-align: center;
					@media screen and @mquery-desktop-min {
						color: @color-white;
						margin-bottom: 1%;
						text-align: left;
						width: 100%;
					}
					&:first-child {
						@media screen and @mquery-desktop-min {
							text-align: center;
						}
						div {
							@media screen and @mquery-desktop-min {
								text-align: center;
							}
						}
						ul {
							@media screen and @mquery-desktop-min {
								margin-right: 5%;
								text-align: center;
							}
						}

					}
					&:last-child {
						@media screen and @mquery-desktop-min {
							margin-right: 0;
						}
					}
					&-link {
						list-style: none;
						padding: inherit;
						@media screen and @mquery-desktop-min {
							margin-top: 15px;
						}
						li {
							@media screen and @mquery-desktop-min {
								line-height: 0;
							}
							a {
								color: @color-rolling-stone;
								font-size: 28px;
								line-height: 1.71;
								opacity: 0.5;
								@media screen and @mquery-desktop-min {
									color: @color-white;
									font-size: 14px;
								}
							}
						}
					}
					&-socialMedia {
						display: inline-block;
						margin-bottom: 0;
						margin-top: 5%;
						padding: 0;
						width: 100%;
						@media screen and @mquery-desktop-min {
							width: 80%;
						}
						a {
							color: transparent;
							display: block;
							position: relative;
							width: 100%;
							&:before {
								content: '';
								height: 285%;
								position: absolute;
								right: 57%;
								top: 25%;
								transform: translate(50%);
								width: 56%;
								@media screen and @mquery-desktop-min {
									right: 70%;
									top: -25%;
								}
							}
						}
						.sc {
							a {

								&:before {
									background: url('@{img-common-path}icons/icon-snapchat.png') no-repeat 0 0;
									background-size: 100%;
								}
							}
						}
						.ig {
							a {

								&:before {
									background: url('@{img-common-path}icons/icon-instagram.png') no-repeat 0 0;
									background-size: 100%;
								}
							}
						}
						.tw {
							margin-right: -13px;
							a {

								&:before {
									background: url('@{img-common-path}icons/icon-twitter.png') no-repeat 0 0;
									background-size: 100%;
								}
							}
						}
						.fb {
							a {
								&:before {
									background: url('@{img-common-path}icons/icon-facebook.png') no-repeat 0 0;
									background-size: 100%;
								}
							}
						}
						li {
							display: inline-block;
							margin: 0 1%;
							width: 20%;
							@media screen and @mquery-desktop-min {
								margin: 0;
							}
						}
					}
					&-title {
						font-family: PlayfairDisplay;
						font-size: 32px;
						font-weight: bold;
						text-transform: uppercase;
						@media screen and @mquery-desktop-min {
						    border-bottom: 1px solid;
    						border-color: rgba(250, 250, 250, 0.5);
							font-size: 16px;
							margin-right: 5%;
							padding-bottom: 3%;
						}
					}
				}
			}
		}
		&--bottom {
			padding: 4% 8%;
			@media screen and @mquery-desktop-min {
				align-items: center;
				background-color: #9f1d21;
				border-bottom: 1px solid @color-rolling-stone;
				display: flex;
				flex-direction: column;
				padding: 0;
			}
			&--breadcrumb {
				border-bottom: 1px solid @color-rolling-stone;
				border-top: 1px solid @color-rolling-stone;
				padding: 7% 0;
				@media screen and @mquery-desktop-min {
					border: 0;
					padding: 0;
					text-align: center;
					width: 24%;
				}
				&-list {
					display: inline-block;
					margin: 0;
					padding: 0;
					width: 100%;
					li {
						border-right: 1px solid @color-red;
						color: @color-thunder;
						display: inline-block;
						font-size: 24px;
						list-style-type: none;
						margin-bottom: 0;
						text-align: center;
						@media screen and @mquery-desktop-min {
							font-size: 14px;
						}
						a {
							color: @color-thunder;
							text-decoration: none;
							@media screen and @mquery-desktop-min {
								color: @color-white;
							}
						}
						&:first-child {
							border-right: 1px solid @color-red;
							text-align: left;
							width: 18%;
						}
						&:nth-child(2) {
							width: 27%;
						}
						&:nth-child(3) {
							width: 26%;
						}
						&:last-child {
							border-right: 0;
							text-align: right;
							width: 29%;
						}
					}
				}
			}
			&--copyright {
				color: rgba(35, 31, 25, 0.5);
				font-family: 'roboto', arial, sans-serif;
				font-size: 28px;
				font-weight: 300;
				line-height: 2.57;
				margin-top: 4%;
				opacity: 0.5;
				text-align: center;
				@media screen and @mquery-desktop-min {
					color: rgba(250, 250, 250, 0.5);
					margin: auto;
					width: 100%;
					font-size: 14px;
				}
			}
		}
	}
}
.underlined_text {
	border-bottom: solid 1px rgba(255, 255, 255, 0.6);
	color: white;
	font-size: 22px;
	padding-bottom: 2px;
}
.margin0 {
	margin: 0px;
}
.padding0 {
	padding: 0px;
}
.paddingTB20 {
	padding: 15px 0px;
}
.marginT25 {
	margin-top: 25px;
}
.paddingTB25 {
	padding: 25px 0px;
}
.copyTxt {
    background-color: @color-old-brick;
    color: rgb(235, 236, 232);
    font-size: 14px;
	margin-bottom: 0px;
	padding: 15px 0px;
	text-align: center;
}
footer ul.list-unstyled {
	margin-top: 15px;
}
footer ul.list-unstyled li a {
    color: #fff;
	font-size: 14px;
	font-weight: normal;
	line-height: 25px;
}
.footer--container--top--content {
	padding-bottom: 40px;
	padding-top: 20px;
}
.footer--container--top--content .col-xs-12 {
	margin-bottom: 15px;
	padding: 10px 15px;
}
.skiptocontent {
    margin-right: 0px;
	padding: 20px;
}
