.page-cartPage {
	.cart--continue-shopping-button {
		background: #C91C1E;
		border: 1px solid #9E1E21;
		color: @color-white;
		font-size: 1rem;
	   font-weight: 300;
	   margin-top:35px;
	   min-height:2rem;
	   padding: 0.5em 1em;
	   @media @mquery-desktop {
	   font-size: 18px;
	   min-height:1.7rem;
	   }
	}
	.cart--footer-bottom {
		.cart--totals-line {
			padding-right:0px;
			.mini-cart-checkout-button {
				margin-top: 36px;
				@media (max-width: @screen-sm-max) {
					margin: 64px 0px 88px 0px;
				}
				&:hover {
					color: @color-white;
					text-decoration: none;
				}
				@media @mquery-desktop {
					margin-right:40px;
				}
			}
		}
	}
	#cboxLoadedContent {
		align-items: center;
		display: flex;
    	.help-popup-content {
    		font-size: 10pxi;
    		padding: 2rem 0 1.5rem;
    	}
	}
}
