<?xml version="1.0" encoding="UTF-8"?>
<?page title="ZK Test" language="xul/html"?>
<window title="${arg.title}" border="normal" width="250pt" closable="true"
			use="de.hybris.platform.cockpit.components.dialog.WarnDialog"
			sclass="confirmDialog">
	<hbox>
		<div class="${arg.icon}"/>
		<div sclass="z-messagebox" width="210pt">
			<label value="${arg.message}" multiline="false"/>
		</div>
	</hbox>
	<separator bar="true"/>
	<hbox style="margin-left:auto; margin-right:auto">
	<toolbarbutton identity="${arg.YES}" use="de.hybris.platform.cockpit.components.dialog.WarnDialog$Toolbarbutton"
		image="/cockpit/images/ok_btn.gif"/>
	</hbox>
</window>