<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ attribute name="addToCartBtnId" required="false" type="java.lang.String"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>

<div id="addToCartTitle" class="display-none">
	<spring:theme code="basket.added.to.basket"/>
</div>







  