<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ attribute name="product" required="true" type="de.hybris.platform.commercefacades.product.data.ProductData" %>
<%@ taglib prefix="product" tagdir="/WEB-INF/tags/responsive/product" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<%@ taglib prefix="format" tagdir="/WEB-INF/tags/shared/format" %>
<%@ taglib prefix="action" tagdir="/WEB-INF/tags/responsive/action" %>
<%@ taglib prefix="ycommerce" uri="http://hybris.com/tld/ycommercetags" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>
<%@ taglib prefix="addonProduct" tagdir="/WEB-INF/tags/addons/kaccwishlist/responsive/product" %>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form" %>
<%@ taglib prefix="sec"
	uri="http://www.springframework.org/security/tags"%>
<sec:authorize var="loggedIn" access="isFullyAuthenticated()" />

<spring:theme code="text.addToCart" var="addToCartText"/>
<c:url value="/cart/add" var="addToCartUrl"/>
<c:url value="${product.url}" var="productUrl"/>
<c:set value="${not empty product.potentialPromotions}" var="hasPromotion"/>


<div class="product-tile">
	<div class="product-tile--wrapper">
					<!-- Add to Favourites Changes -->
					<div class="product-tile--fav-heart">
						<div id="emptyHeart_div_${product.code}">
							<a id="emptyHeart_${product.code}" href="javascript:void('0');"
								onclick="javascript:addToWishList('${product.code}');"
								title="Add item to wishlist"> <span
								class="glyphicon glyphicon-heart product-tile--fav-heart--gray"></span>
							</a>
						</div>
						<div id="filledHeart_div_${product.code}">
				 			<c:choose>
								<c:when test="${loggedIn}">
									<sec:authorize access="!hasAnyRole('ROLE_ANONYMOUS')">
										<a id="emptyHeart_${product.code}" href="javascript:void('0');"
								onclick="javascript:addToWishList('${product.code}');"
											title="Add item to wishlist"> <span
											class="glyphicon glyphicon-heart gray-heart product-tile--fav-heart--pink"></span>
										</a>
									</sec:authorize>
								</c:when>
								<c:otherwise>
									<%-- <sec:authorize access="hasAnyRole('ROLE_ANONYMOUS')">
										<a class="signIn" href="<c:url value='/login'/>"
											title="Remove item from wishlist"> <span
											class="glyphicon glyphicon-heartp pink-heart product-tile--fav-heart--pink"></span>
										</a>
									</sec:authorize> --%>
								</c:otherwise>
							</c:choose>
						</div>
					</div>
				<!-- Add to Favourites Changes -->
		<a href="${productUrl}" class="product-tile--link">
			<div class="product-tile--infos">
				<div class="product-tile--thumb">
					<c:if test="${product.discountPrice ne null}">
						<div class="price--sticker">${product.percentageDiscount}% Off</div>
					</c:if>
					<c:if test="${product.stock.stockLevelStatus.code eq 'outOfStock' }">
                    	<div>
							 <p class="add-to-cart--availability-out-stock"><spring:theme code="product.variants.out.of.stock"/></p>
				     	</div>
					</c:if>
					<product:productPrimaryImage product="${product}" format="product"/>
				</div>
				<div class="product-tile--name">${fn:escapeXml(product.name)}</div>
			</div>
		</a>
		<div class="product-tile--price price">
			<ycommerce:testId code="productDetails_productNamePrice_label_${product.code}">
				<product:productPricePanel product="${product}" />
			</ycommerce:testId>
		</div>
		<c:if test="${not product.multidimensional }">
			<form:form id="addToCartForm${product.code}" action="${addToCartUrl}" method="post" class="add_to_cart_form">

				<c:if test="${product.stock.stockLevel gt 0}">
					<c:set var="productStockLevel">${product.stock.stockLevel}&nbsp;
						<spring:theme code="product.variants.in.stock"/>
					</c:set>
				</c:if>
				<c:if test="${product.stock.stockLevelStatus.code eq 'lowStock'}">
					<c:set var="productStockLevel">
						<spring:theme code="product.variants.in.stock" />
					</c:set>
				</c:if>
				<c:if test="${isForceInStock}">
					<c:set var="productStockLevel">
						<spring:theme code="product.variants.available"/>
					</c:set>
				</c:if>
				<!-- 	<div class="stock-wrapper clearfix">
					${productStockLevel}
				</div> -->
				<c:if test="${multiDimensionalProduct}" >
					<c:url value="${product.url}/orderForm" var="productOrderFormUrl"/>
					<a href="${productOrderFormUrl}" class="button button--secondary js-add-to-cart glyphicon-list-alt">
						 <div><div class="icon icon--cart-white">&nbsp;</div></div>
						<div class="button--label"><spring:theme code="order.form" /></div>
					</a>
				</c:if>
				<div class="product-tile--buttons add-button">
			<div class ="row">
				<div class="col-md-6" >
				<c:if test="${empty showAddToCart ? true : showAddToCart}">
					<div class="product-tile--qty-selector">
						<%-- QTY Selector --%>
						<product:productQuantitySelector product="${product}" />
					</div>
					
				</c:if>
				
				</div>
			
				<div class="col-md-6" >
					<ycommerce:testId code="addToCartButton">
						<input type="hidden" name="productCodePost" value="${product.code}"/>
						<input type="hidden" name="productNamePost" value="${fn:escapeXml(product.name)}"/>
						<input type="hidden" name="productPostPrice" value="${product.price.value}"/>
						<div class="product-tile--buttons-item add-button-cart">
							<c:choose>
								<c:when test="${currentLanguage.isocode eq 'en'}">
									<c:choose>
										<c:when test="${product.stock.stockLevelStatus.code eq 'outOfStock' }">
											<button class="button button--secondary add-button-toCart" aria-disabled="true" disabled="disabled">
												<!-- <div><div class="icon icon--cart-white">&nbsp;</div></div> -->
												<span><spring:theme code="text.addToCart" /></span>
											</button>
										</c:when>
										<c:otherwise>
											<button class="button button--secondary add-button-toCart js-enable-btn" disabled="disabled">
												<!-- <div><div class="icon icon--cart-white">&nbsp;</div></div> -->
												<div class="button--label"><spring:theme code="text.addToCart" /></div>
											</button>
										</c:otherwise>
									</c:choose>
								</c:when>
								<c:otherwise>
								<c:choose>
										<c:when test="${product.stock.stockLevelStatus.code eq 'outOfStock' }">
											<button class="button button--secondary add-button-toCart add-button-toCart-ar" aria-disabled="true" disabled="disabled">
												<!-- <div><div class="icon icon--cart-white">&nbsp;</div></div> -->
												<span><spring:theme code="text.addToCart" /></span>
											</button>
										</c:when>
										<c:otherwise>
											<button class="button button--secondary add-button-toCart add-button-toCart-ar js-enable-btn" disabled="disabled">
												<!-- <div><div class="icon icon--cart-white">&nbsp;</div></div> -->
												<div class="button--label"><spring:theme code="text.addToCart" /></div>
											</button>
										</c:otherwise>
									</c:choose>
								</c:otherwise>
							</c:choose>
						</div>
					</ycommerce:testId>
			</div>
			 					<div class="product-tile--buttons-item add-button-whishlist">
						<c:choose>
							<c:when test="${currentLanguage.isocode eq 'en'}">
							<div style="display: none;" id="addToCartButton_${product.code}">
								<button id="idFav" class="button button--tertiary addtolist addtolist-en add-button-whishlist-link js-add-product-to-wishlist"	data-add-product-to-wishlist-url="${pageContext.request.contextPath}/wishlist/addProductToWishlistPopup/${product.code}" data-title="${addProductToWishlistTitle}">
									<div><div class="icon icon--add-list">&nbsp;</div></div>
									<spring:theme code="text.whishlist.add" />
								</button>
								</div>
							</c:when>
								<c:otherwise>
								<div style="display: none;" id="addToCartButton_${product.code}">
									<button id="idFav" class="button button--tertiary addtolist addtolist-ar add-button-whishlist-link js-add-product-to-wishlist"	data-add-product-to-wishlist-url="${pageContext.request.contextPath}/wishlist/addProductToWishlistPopup/${product.code}" data-title="${addProductToWishlistTitle}">
									<div><div class="icon icon--add-list">&nbsp;</div></div>
									<spring:theme code="text.whishlist.add" />
								</button>
								</div>
							</c:otherwise>
						</c:choose>
					</div>
	</div>
				</div>
			</form:form>
			<form:form id="configureForm${product.code}" action="${configureProductUrl}" method="get" class="configure_form">
				<c:if test="${product.configurable}">
					<c:choose>
						<c:when test="${product.stock.stockLevelStatus.code eq 'outOfStock' }">
							<button id="configureProduct" type="button" class="btn btn-primary btn-block" disabled="disabled">
								<spring:theme code="basket.configure.product"/>
							</button>
						</c:when>
						<c:otherwise>
							<button id="configureProduct" type="button" class="btn btn-primary btn-block js-enable-btn" disabled="disabled" onclick="location.href='${configureProductUrl}'">
									<spring:theme code="basket.configure.product"/>
							</button>
						</c:otherwise>
					</c:choose>
				</c:if>
			</form:form>
		</c:if>
	</div>
</div>

 <!-- UI Revamp change - check if the product is in user's wishlist start -->
  <script type="text/javascript">
 	<c:if test="${not empty pageContext.request.userPrincipal}">
        $(document).ready(function() {
            checkIfProductInWishList("${product.code}","${pageContext.request.contextPath}");
        });
        </c:if>
       function addToWishList(productCode){
    	   $('#addToCartButton_'+productCode).find('#idFav').click();
        }
    </script>
 <!-- UI Revamp change - check if the product is in user's wishlist start -->