@import '../../../lib/bootstrap-3.3.7/less/variables.less';
@import '../../../lib/ybase-0.1.0/less/variables.less';
@import '../../../../shared/less/generatedVariables.less';
@import '../../../../shared/less/variableMapping.less';

//==== FONT ====
@font-family-base : 'roboto-regular',
arial,
sans-serif;
@font-size-base : 26px;
@fonts-path : '../../../shared/fonts/';
// Bootstrap override
@icon-font-path : '@{fonts-path}/@{icon-font-name}/';
//==== END FONT ====
//
//==== COLORS ====
// Named from http://chir.ag/projects/name-that-color
// Basics
@color-black: #000;
@color-white: #FFF;
@color-gray: #8B8989;
@color-red: #C91C1E;
// Greens
@color-de-york: #73d093;
@color-emerald: #57C880;
@color-jungle-green: #2db95d;
@color-pistachio: #97BF00;
@color-ocean-green: #4eb473;
// Greys
@color-alto: #d5d5d5;
@color-bombay: #B3B4B6;
@color-bud: #AEB0AD;
@color-concrete: #f3f3f3;
@color-dusty-gray: #999999;
@color-mercury: #e7e7e7;
@color-dark-grey: #808080;
@color-nobel: #b6b6b6;
@color-rolling-stone: #808285;
@color-thunder: #231f20;
@color-gray-nickel: #bcbdbb;
@color-edward: #abaeab;
// Oranges
@color-tangerine: #F19005;
// Pinks
@color-carnation: #ef5664;
@color-chestnut: #BE4545;

@color-old-brick : #9E1E21;
@color-thunderbird : #C91C1E;
@color-gun-smoke : #7E8080;
@color-dark-gun-smoke:#6C6F70;
@color-whilte-solid : #FFFFFF;
@color-pink:#E54460;

//==== END COLORS ====
//
//==== IMAGES ====
@img-common-path : '../../common/images/';
@img-shared-path : '../../../shared/images/';
@img-theme-path : '../images/';
//==== END IMAGES ====
//
//==== MEDIA QUERIES ====
@mquery-portrait :~'(orientation: portrait)';
@mquery-landscape :~'(orientation: landscape)';
// Usage example : @media only screen and @query-mobile
// screen size between 320px to 479px
@mquery-mobile-extra-max :~'(max-width: @{screen-xs-extra-max})';
@mquery-mobile-extra-min :~'(min-width: @{screen-xs-extra-min})';
@mquery-mobile-extra :~'@{mquery-mobile-extra-min} and @{mquery-mobile-extra-max}';
@mquery-mobile-extra-landscape :~'@{mquery-mobile-extra} and (orientation: landscape)';
// screen size between 480px to 639px
@mquery-mobile-max :~'(max-width: @{screen-xs-max})';
@mquery-mobile-min :~'(min-width: @{screen-xs-min})';
@mquery-mobile :~'@{mquery-mobile-min} and @{mquery-mobile-max}';
@mquery-mobile-landscape :~'@{mquery-mobile} and (orientation: landscape)';
// screen size between 640px to 1023px
@mquery-tablet-max :~'(max-width: @{screen-sm-max})';
@mquery-tablet-min :~'(min-width:@{screen-sm-min})';
@mquery-tablet :~'@{mquery-tablet-min} and @{mquery-tablet-max}';
@mquery-tablet-landscape :~'@{mquery-tablet} and (orientation: landscape)';
// screen size between 1024px to 1399px
@mquery-desktop-max :~'(max-width: @{screen-md-max})';
@mquery-desktop-min :~'(min-width:@{screen-md-min})';
@mquery-desktop :~'@{mquery-desktop-min}';
@mquery-desktop-landscape :~'@{mquery-desktop} and (orientation: landscape)';
// screen size >= 1400px
@mquery-desktop-lg-min :~'(min-width:@{screen-lg-min})';

@mquery-mobile :~'screen and @{mquery-mobile-min}';
@mquery-mobile-l :~'screen and @{mquery-mobile-min} and @{mquery-landscape}';
@mquery-tablet :~'screen and @{mquery-tablet-min}';
@mquery-tablet-l :~'screen and @{mquery-tablet-min} and @{mquery-landscape}';
@mquery-desktop :~'screen and @{mquery-desktop-min}';
@mquery-desktop-lg :~'screen and @{mquery-desktop-lg-min}';
//==== End MEDIA QUERIES ====
//
//==== Z-INDEXES ====
// Bootstrap ones
@zindex-navbar: 1;
@zindex-dropdown: 1;
@zindex-popover: 5;
@zindex-tooltip: 6;
@zindex-navbar-fixed: 2;
@zindex-modal-background: 3;
@zindex-modal: 4;
// Custom ones
@z-index-min : 0;
//==== End Z-INDEXES ====
//
//==== MODALS ====
//** Padding applied to the modal body
@modal-inner-padding: 15px;
//** Padding applied to the modal title
@modal-title-padding: 15px;
//** Modal title line-height
@modal-title-line-height: @line-height-base;
//** Background color of modal content area
@modal-content-bg: #fff;
//** Modal content border color
@modal-content-border-color: rgba(0, 0, 0, 0.2);
//** Modal content border color **for IE8**
@modal-content-fallback-border-color: #999;
//** Modal backdrop background color
@modal-backdrop-bg: rgba(0, 0, 0, 0.2);
//** Modal backdrop opacity
@modal-backdrop-opacity: 0.5;
//** Modal header border color
@modal-header-border-color: #e5e5e5;
//** Modal footer border color
@modal-footer-border-color: @modal-header-border-color;
@modal-lg: 900px;
@modal-md: 600px;
@modal-sm: 300px;
//==== END MODALS ====
@wrapper-max-slider-home : 1356px;
