@import '../../../../lib/ybase-0.1.0/less/mixins.less';
@import 'font.less';
@import 'svgColor.less';
// Absolute vertical align
.valign(@top: 50%, @side: ~'', @sidePosition: 0) {
	position: absolute;
	top: @top;
	transform: translateY(-@top);
	z-index: 1;
}

.valign(@top: 50%, @side: left, @sidePosition: 0) {
	@{side}: @sidePosition;
	position: absolute;
	top: @top;
	transform: translateY(-@top);
	z-index: 1;
}

// Absolute centered align
.aalign() {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

//= Ellipsis string - mixins to limit the caracters number of a string
// usage :
// .myClass {
//   .ellipsis-txt();
// }
.ellipsisString(@width: 100%) {
	display: inline-block;
	line-height: 1.07em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: @width;
}

//= Ellipsis lines - mixins to limit the line number to display on a string
// usage :
// .myClass {
//   .ellipsisLines(3);
// }
.ellipsisLines(@nb_lines: 1, @overflow: hidden) {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: @nb_lines;
	/* number of lines to show */
	display: -webkit-box;
	line-height: 1em;
	/* fallback */
	max-height: unit(@nb_lines, em);
	/* fallback */
	min-height: unit(@nb_lines, em);
	/* fallback */
	overflow: @overflow;
	text-overflow: ellipsis;
}

.clearfix() {
	*zoom: 1;

	&:before,
	&:after {
		content: '';
		display: table;
		line-height: 0;
	}

	&:after {
		clear: both;
	}
}

//= placeholder - mixins to define the placeholder font properties
// usage :
// .myPlaceholderClass {
//   .customPlaceholder(3);
// }
.customPlaceholder(@color: @color-concrete, @fontSize : @font-size-base, @fontFamily: @font-family-base, @textTransform: initial) {
	&::placeholder {
		color: @color;
		font-family: '@{fontFamily}',
		arial,
		sans-serif;
		font-size: @fontSize;
		text-transform: @textTransform;
	}
}
