.arIcon {
	display: none;
}

.enIcon {
	display: inline-block;
}

.store__finder--search {
	margin: 1rem 0;
	.searchInputText {
		height: 2.5rem;
	}
	.searchLoop {
		height: 2.5rem;
	}
	.searchBtn {
		background: @color-thunderbird;
		height: 2.5rem;
		width: 8.076923076923077rem;
	}
}

.store__finder--panel {
	overflow: hidden;
	position: relative;
	.store__finder--pagination {
		font-size: 0.7rem;
		padding: 5px 0;
	}

	.store__finder--navigation {
		background: @color-mercury;
		float: left;
		left: 0;
		padding: 1rem;
		position: absolute;
		transition: 0.5s all;
		width: 50%;

		@media screen and @mquery-desktop-min {
			position: relative;
			width: 30%;
		}
		&.closedNav {
			left: -50%;
		}
		.btnControlNav {
			background: @color-bombay;
			color: @color-white;
			display: block;
			height: 1.8rem;
			line-height: 1.8rem;
			position: absolute;
			text-align: center;
			text-decoration: none;
			top: 0;
			width: 1.8rem;
			z-index: 3;
			&.closeNavStoreFinder {
				right: 0;
				@media screen and @mquery-desktop-min {
					display: none;
				}
			}
			&.openNavStoreFinder {
				display: none;
				right: -1.8rem;
			}
		}
	}

	.store__finder--details {
		float: right;
		padding: 0 0.7rem;
		position: relative;
		width: 100%;
		@media screen and @mquery-desktop-min {
			width: 70%;
		}
		.headerMap {
			position: absolute;
			right: 1.5rem;
			top: 7.5rem;
			z-index: 0;
			.store__finder--details-image {
				display: inline-block;
				float: left;
				overflow: hidden;
				img {
					border: 3px solid @color-thunderbird;
					border-radius: 100%;
					height: 2.5rem;
					width: 2.5rem;
				}
			}
			.store__finder--details-info {
				float: left;
				font-size: 0.7rem;
				font-weight: bold;
				padding-left: 1rem;
				padding-top: 0.5rem;
				text-align: left;
			}
		}
		.store__finder--map {
			min-height: 20rem;
			iframe {
				height: 100%;
			}
		}
	}
}

.listSoreFinder {
	li {
		background: @color-white;
		color: @color-black;
		cursor: pointer;
		margin-bottom: 0.1rem;
		overflow: hidden;
		padding: 0;
		position: relative;
		&:hover {
			background: @color-thunderbird;
		}
		input[type='radio']+label {
			color: @color-bombay;
			display: table-cell;
			font-size: 0.7rem;
			font-weight: inherit;
			height: 2rem;
			padding: 0 0 0 3rem;
			position: relative;
			text-transform: inherit;
			vertical-align: middle;
			&:hover {
				color: @color-white;
			}
		}

		input[type='radio'] {
			display: none;
		}

		input[type='radio']+label:before {
			background-color: @color-white;
			border: 1px solid @color-thunderbird;
			border-radius: 50%;
			content: '';
			height: 1.3rem;
			left: 0.4rem;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 1.3rem;
		}

		input[type='radio']:checked+label:after {
			background: @color-thunderbird;
			background-size: 100% auto;
			border-radius: 50%;
			content: '';
			height: 0.9rem;
			left: 0.6rem;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 0.9rem;
		}
	}
}

.store__finder--details-openings {
	background: @color-mercury;
	font-size: 0.6rem;
	overflow: hidden;
	padding: 1rem;
	.storeOpenings {
		margin-top: 0.2rem;
		dt {
			float: left;
			margin-bottom: 0.1rem;
			text-align: left;
			width: 3rem;
		}
		dd {
			margin-bottom: 0.1rem;
			margin-left: 3rem;
		}
	}
}
