.listPaymentDetails {
	.itemPaymentDetails {
		background: @color-white;
		border: 1px solid @color-dusty-gray;
		font-size: 1rem;
		height: 15rem;
		margin: 0.35rem;
		overflow: hidden;
		padding: 1rem 1rem 1rem 1rem;
		position: relative;
		.titlePaymentDetails {
			color: @color-red;
			font-size: 1rem;
			font-weight: bold;
		}
		.removePaymentDetailsButton {
			color: @color-black;
			position: absolute;
			right: 0.3rem;
			top: 0.3rem;
			z-index: 2;
			.glyphicon-remove{
				&:before {
					-webkit-text-stroke: 3px #fff;
				}
			}
			&:hover {
				color: @color-red;
			}
		}
	}
	.setDefaultPaymentDetails {
		clear: both;
		margin: 0.5rem auto;
	}
}
