.page-errorsystem {
	.wrapper-content {
		.content{
			border: 2px solid @border-color-2;
		    border-radius: 6px;
		    margin: 1.3rem auto;
		    padding: 22px;
		    text-align: center;
		    width: 100%;
		    @media @mquery-desktop {
				width: 45%;
			}
			p {
				strong {
					font-family: PlayfairDisplay-Bold;
    				font-size: 40px;
    				line-height: 1.9rem;
    				span {
    					font-size: 96px;
    				}
				}
				.error-server-firstline {
					font-family: PlayfairDisplay;
					font-size: 32px;
					font-weight: bold;
				}
				.error-server-secondline {
					font-family: Roboto;
					font-size: 24px;
					font-weight: 300;
				}
			}
			hr {
				border-color: @color-red;
				width: 10%;
			}
		}
	}
}
