.facet {
	border-right: 1px solid #d5d5d5;
	margin-right: 20px;
	.facet__name {
		font-family: 'playfairdisplay-regular', serif;
	}
	.category--aside {
		.category--aside-list {
			padding-top: 0.4rem;
			li {
				.category--aside-list--text {
					a {
						display: inline-block;
						font-family: 'playfairdisplay-regular', serif;
						font-size: 0.62rem;
					}
				}
			}
		}
	}
}
