.add-button-product {
  margin-top: 20px;
  width: 100%;
  @media screen and @mquery-desktop-min {
		margin-top: 0px;
  }
	button {
		border-radius: 5px;
		display: inline-block;
		font-family: 'roboto-light';
		font-size: 20px;
		height: 30px;
		margin: 0px;
		min-height: 60px;
		position: relative;
		text-align: center;
		width: 47%;
		@media screen and @mquery-desktop-min {
			font-size: 20px;
			min-height: 44px;
			width: 25%;
		}
		span {
			width: 100%;
		}
		/*&:before {
			background-size: 100%;
			content: '';
			height: 48px;
			left: 14%;
			position: absolute;
			top: 28.05%;
			width: 48px;
			@media screen and @mquery-desktop-min {
				height: 26px;
				left: 8.55%;
				width: 26px;
			}
		}*/
	}
	&-toCart {
		background-color: @color-thunderbird;
		border: 0;
		color: @color-white;
		margin: 7% 0 0 0;
		&-hidden:before{
			visibility: hidden;
		}
	}
	&-whishlist {
		background-color: @color-concrete;
		border: 1px solid @color-rolling-stone;
		margin-top: 7%;
		&-link {
			color: @color-black;
			width: 100%;
		}
		&:before {
			background: url('@{img-theme-path}svg/add-list-white.svg') no-repeat 0 0;
		}
	}
}
.add-button-product button:last-child {
    margin-right: 0px;
}
