.open-view360 {
	background:#fff url('../images/svg/icon--360.svg') center no-repeat;
	background-size: 80%;
	border: 0;
	border-radius: 100%;
	cursor: pointer;
	height: 2.5rem;
	position: relative;
	width: 2.5rem;
	&:hover {
		background:#fff url('../images/svg/icon--360.svg') center no-repeat;
		background-size: 80%;
	}
}

.listImagesView360 {
	display: none;
}

.next-image,
.prev-image {
	border: 1px solid #999;
	height: 2rem;
	line-height: 2rem;
	outline: none;
	text-align: center;
	text-indent: 500rem;
	width: 2rem;
}

.next-image {
	background: #fff url('../images/svg/arrow-right.svg') center no-repeat;
	background-size: 94%;
	&:hover,
	&:visited,
	&:focus {
		background: #fff url('../images/svg/arrow-right.svg') center no-repeat;
		background-size: 94%;
	}
}

.prev-image {
	background: #fff url('../images/svg/arrow-left.svg') center no-repeat;
	background-size: 94%;
	&:hover,
	&:visited,
	&:focus {
		background: #fff url('../images/svg/arrow-left.svg') center no-repeat;
		background-size: 94%;
	}
}

.sticker.sticker360 {
	left: 4.675%;
	right: inherit;
	top: 1%;
	a {
		opacity: 0.5;
		transition:0.5s all;
		&:hover {
			opacity: 1;
		}
	}
}

#colorbox.View360Popin {
	max-height: 90%;
	max-width: 90%;
	width: 400px;
	#cboxLoadedContent {
		margin-top: 0;
	}

	#cboxTitle:empty {
		display: none;
	}
}
