.breadcrumb {
	background-color: inherit;
	display: none;
	flex-direction: row;
	font-size: 16px;
	position: relative;
	@media screen and @mquery-desktop-min {
		display: flex;
		margin: 0 0 10px;
	}
	li {
		display: inline-block;
		margin: 0 10px 0 0;
		position: relative;
		&:nth-child(1) {
			a {
				padding: 0 30px 0;
			}
		}
		a {
			display: block;
			padding: 0 30px 0 0;
			position: relative;
		}
		.icon {
			background-size: auto 80%;
		}
		.icon--home-carnation {
			bottom: 0;
			left: 0;
			position: absolute;
			top: 0;
			width: 20px;
		}
		.icon--arrow-thin-carnation {
			bottom: 0;
			position: absolute;
			right: 0;
			top: 0;
			transform: rotate(90deg);
			width: 20px;
		}
	}
	>li+li:before {
		content: none;
	}
}
