.cartItem {
	border-bottom: 1px solid @cart-borders-color;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 57px 20px 30px;
	@media @mquery-desktop {
		padding: 20px 0;
		height: auto;
	}
	&--config {
		@media @mquery-desktop {
			align-self: baseline;
			width: 100%;
		}
		select {
			appearance: none;
			background: url('@{img-theme-path}svg/arrow-down-carnation.svg') no-repeat 97% center;
			background-size: auto 75%;
			max-width: 100%;
			width: 80%;
		}
	}
	&--delete {
		display: inline-block;
		text-align: center;
		width: 38%;
		@media @mquery-desktop {
			bottom: 5px;
			position: absolute;
			right:10px;
			width: 10%;
		}
		.icon {
			background-position: 80%;
			background-size: 40%;
			@media @mquery-desktop {
				background-size: auto 85%;
				opacity: 0.3;
			}
		}
	}
	&--discount {
		&-text {
			color: @color-secondary;
			font-family: 'roboto-light', arial, sans-serif;
			font-size: 24px;
			@media @mquery-desktop {
				font-size: 16px;
			}
		}
	}
	&--image {
		width: 33%;
		@media @mquery-desktop {
			width: 11.3%;
		}
		a {
			border: 1px solid @color-alto;
			@media @mquery-desktop {
				margin: auto;
				width: 82%;
			}
		}
		img {
			width: 100%;
		}
	}
	&--infos {
		padding: 0 0 0 36px;
		width: 66%;
		@media @mquery-desktop {
			display: flex;
			padding: 0;
			width: 88.7%;
		}
		&-part {
			@media @mquery-desktop {
				display: flex;
				flex-direction: row;
			}
			&-1 {
				@media @mquery-desktop {
					align-items: center;
					display: flex;
					justify-content: space-between;
					width: 60%;
				}
			}
			&-2 {
				@media @mquery-desktop {
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 40%;
				}
			}
		}
	}
	&--qty-selection-row {
		@media @mquery-desktop {
			align-items: center;
			display: flex;
			flex-direction: row;
			margin-left:15px;
			width: auto;
		}
	}
	&--qty-label {
		display: inline;
		font-size: 24px;
		@media screen and @mquery-desktop-min {
			font-size: 28px;
		}
	}
	&--max-quantity-message {
		color: @color-red;
		font-size: 20px;
		@media @mquery-desktop {
			font-size: 14px;
			width: 158px;
		}
	}
	&--name {
		color:@color-gun-smoke;
		font-family: 'roboto-bold', arial, sans-serif;
		font-size: 32px;
		margin-bottom: 20px;
		@media @mquery-desktop {
			font-size: 32px;
			margin-bottom: 0;
		}
		a {
			font-size:0.8rem;
			.ellipsisString(90%);
		}
	}
	&--price {
		@media @mquery-desktop {
			display: flex;
			flex-direction: row;
			width: 36%;
		}
		.price {
			&--base {
			color:#676767;
				font-size:24px;
				margin: 1rem 0 0;
			}
			&--sticker {
				margin: 0 0 25px;
			}
			&--strike {
				margin: auto 34px 0 0;
				@media @mquery-desktop {
					margin: 0 19px 0 0;
				}
			}
			&--base,
			&--currency,
			&--discount,
			&--sticker {
				@media @mquery-desktop {
					margin: 0 8px 0 0;
				}
			}
		}
	}
	&--qty {
		display: flex;
		margin-bottom: 20px;
		white-space: nowrap;
		width: 100%;
		@media @mquery-desktop {
			margin-bottom: 10px;
			width: 5.5rem;
		}
		&-selector {
			display: inline-block;
			width: 68%;
			@media @mquery-desktop {
				height: 40px;
				width: 100%;
			}
			.qtyValue {
				@media @mquery-desktop {
					font-size: 0.7rem;
				}
				margin-top: 8px;
			}
			.qty-selector {
				&--input {
					font-size: 32px;
					@media @mquery-desktop {
						font-size: 16px;
						padding: 7px 0;
					}
				}
			}
			.cartItem--qty-label {
				color: @color-black;
				font-weight: bold;
				.qtyValue {
					font-size: 1rem;
					margin-left: 10px;
				}
			}
		}
	}
	&--stock {
		@media @mquery-desktop {
			margin-left: 30px;
			min-width:100px;
			width:20%;
		}
		&-ok {
			color: @color-jungle-green;
			display: inline-block;
			font-family: 'roboto-bold', arial, sans-serif;
			font-size: 32px;
			margin-bottom: 16px;
			padding-left: 64px;
			width: inherit;
			@media @mquery-desktop {
				font-size: 16px;
				margin-bottom: 8px;
				padding-left: 32px;
			}
		}
		&-ko {
			color: @text-color;
			display: inline-block;
			font-family: 'roboto-bold', arial, sans-serif;
			font-size: 32px;
			margin-bottom: 16px;
			padding-left: 64px;
			width: inherit;
			@media @mquery-desktop {
				font-size: 16px;
				margin-bottom: 8px;
				padding-left: 32px;
			}
		}
		.icon {
			background-position: left;
		}
	}
	&--subinfos {
		@media @mquery-desktop {
			display: flex;
			flex-direction: column;
			height: 100%;
			width: 50%;
		}
	}
	&--total {
		display: block;
		@media @mquery-desktop {
			padding: 0 1rem 0 0;
			position: absolute;
			right:10px;
			width: 50%;
		}
	}
	.price {
		@media @mquery-desktop {
			align-items: baseline;
		}
		&--base,
		&--currency,
		&--discount,
		&--strike {
			font-size: 32px;
			@media @mquery-desktop {
				font-size: 16px;
			}
		}
		&--line {
			margin: 0 0 26px;
			@media @mquery-desktop {
				align-items: baseline;
				margin: 0;
			}
			>span {
				@media @mquery-desktop {
					height: 100%;
				}
			}
		}
		&--sticker {
			font-size: 28px;
			text-align: center;
			@media @mquery-desktop {
				border-radius: 4px;
				font-size: 14px;
				padding: 5px 10px;
				width: 88px;
			}
		}
		&--strike {
			font-size: 32px;
			@media @mquery-desktop {
				font-size: 16px;
			}
		}
		&--total {
			font-size: 40px;
			@media @mquery-desktop {
				font-size: 20px;
				text-align: right;
				padding-left:0px;
			}
		}
	}
}
.cartItem--qty-selection-row .cartItem--total {
padding-left:20px;
}
.cartItem--infos-part-2{
position:relative;
}
.borderbottom{
border-bottom: 1px solid @color-gun-smoke;
}
