.cart--totals,
.subtotal {
	border-top: 1px solid @cart-borders-color;
	width: 100%;
	@media @mquery-desktop {
		border-top: 0;
		margin-bottom: 18px;
	}
	&-left {
		text-align: left;
	}
	&-line {
		background-color: @color-concrete;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	&--back-to-order-history-button {
		background-color: @color-concrete;
		font-size: 24px;
		@media screen and @mquery-desktop-min {
			background-color: white;
			padding: 0;
		}
		.button {
			font-size: 1rem;
			margin-bottom: 20px;
			padding: 1em 1em;
			width: 100%;
			@media screen and @mquery-desktop-min {
				font-size: 20px;
				width: initial;
			}
		}
	}
	&-qty {
		font-family: 'roboto-bold', arial, sans-serif;
		font-size: 32px;
		padding: 7px 50px 15px 50px;
		@media @mquery-desktop {
			font-size: 16px;
			padding: 7px 55px 8px 25px;
		}
	}
	&-right {
		text-align: right;
	}
	&-saving_shipping {
		background-color: @color-concrete;
	}
	&-savings {
		font-family: 'roboto-light', arial, sans-serif;
		font-size: 32px;
		padding: 7px 50px;
		@media @mquery-desktop {
			font-size: 16px;
			padding: 20px 55px 4px 25px;
		}
		.price--currency {
			color: @color-dark-grey;
			font-family: 'roboto-light', arial, sans-serif;
		}
		.price--base {
			font-family: 'roboto-light', arial, sans-serif;
		}
	}
	&-shipping {
		border-bottom: 1px solid @cart-totals-line-bottom-color;
		font-family: 'roboto-bold', arial, sans-serif;
		font-size: 32px;
		padding: 7px 50px 10px 50px;
		@media @mquery-desktop {
			font-size: 16px;
			padding: 4px 55px 20px 25px;
		}
	}
	&-title {
		font-family: 'playfairdisplay-bold', arial, sans-serif;
		font-size: 56px;
		padding: 40px 50px;
		@media @mquery-desktop {
			font-size: 24px;
			padding: 20px 25px;
		}
	}
	&-taxes {
		background-color: @color-concrete;
		font-size: 18px;
		padding-right: 5%;
		text-align: right;
	}
	&-total {
		padding: 7px 50px 7px;
		@media @mquery-desktop {
			padding: 7px 55px 4px 25px;
		}
		&-text {
			font-family: 'roboto-light', arial, sans-serif;
			font-size: 48px;
			@media @mquery-desktop {
				font-size: 24px;
			}
		}
		&-amount {
			color: @color-secondary;
			font-family: 'roboto-bold', arial, sans-serif;
			font-size: 48px;
			@media @mquery-desktop {
				font-size: 24px;
			}
		}
	}
	&-subtotal {
		font-family: 'roboto-light', arial, sans-serif;
		font-size: 48px;
		font-weight: bold;
		padding: 7px 50px;
		@media @mquery-desktop {
			font-size: 24px;
			padding: 0px 55px 4px 25px;
		}
		.price--currency {
			color: @text-color;
			font-size: 48px;
			@media @mquery-desktop {
				font-size: 24px;
			}
		}
		.price--base {
			font-size: 48px;
			@media @mquery-desktop {
				font-size: 24px;
			}
		}
	}
	&-total {
		.cart--totals-total-text{
			font-family: 'roboto-bold', arial, sans-serif;
		}
	}
}
#cartTotalsDisplay{
background-color: @color-concrete;
margin-top:30px;
}

.tax-vat-text {
 	font-family: 'roboto-bold', arial, sans-serif;
 	font-size: 1.2307692307692308rem;
	text-align: left;
	@media @mquery-desktop {
		font-size: 0.6153846153846154rem;
	}
}
.tax-vat {
   color: rgb(255, 0, 0);
	font-family: 'roboto-bold', arial, sans-serif;
	font-size: 1.2307692307692308rem;
	text-align: left;
	@media @mquery-desktop {
		font-size: 0.6153846153846154rem;
	}
}
