.category {
	background: url('@{img-common-path}img-onlyForYou.png') no-repeat 0 0;
	@media screen and @mquery-desktop-min {
		background-size: 100%;
	}
	&--display {
		padding: 5% 19% 7%;
		&-item {
			display: inline-block;
			margin-left: 1%;
			width: 19%;
			&:first-child {
				margin-left: 0;
			}
		}
	}
	&--headline {
		color: @color-white;
		font-family: PlayfairDisplay;
		font-size: 56px;
		font-weight: bold;
		padding: 8% 4% 0 4%;
		position: relative;
		text-align: center;
		@media screen and @mquery-desktop-min {
			padding: 3% 4% 0 4%;
		}
		&:after {
			background: @color-red;
			bottom: -16%;
			content: '';
			height: 2%;
			left: 35%;
			position: absolute;
			transform: translate(50%);
			width: 15%;
			@media screen and @mquery-desktop-min {
				bottom: -17%;
				left: 48%;
				width: 2.2%;
			}
		}
	}
}
