.checkout-summary {
	&-headline {
		border: 1px solid @color-concrete;
		font-family: 'playfairdisplay-bold', arial, sans-serif;
		font-size: 40px;
		padding: 38px 46px;
		position: relative;
		@media @mquery-desktop {
			font-size: 24px;
			padding: 19px 23px;
		}
	}
	.checkout-order-summary {
		&-list {
			border-top: 1px solid @cart-borders-color;
			&-heading {
				font-size: 32px;
				padding: 62px 46px;
				@media @mquery-desktop {
					font-size: 16px;
					padding: 31px 23px;
				}
				&.empty {
					display: none;
				}
				.address {
					font-family: 'roboto-light', arial, sans-serif;
				}
				.title {
					font-family: 'roboto-bold', arial, sans-serif;
				}
			}
			&-items {
				border-bottom: 1px solid @cart-borders-color;
				display: flex;
				padding: 57px 24px;
				@media @mquery-desktop {
					padding: 40px 0;
				}
				&-details {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					padding: 0 24px 0 33px;
					width: 77%;
					@media @mquery-desktop {
						margin-left: 1.2rem;
						padding: 11px 46px 11px 27px;
						width: 83.3%;
					}
				}
				&-name {
					font-family: 'roboto-bold', arial, sans-serif;
					font-size: 32px;
					margin: 0 0 25px;
					@media @mquery-desktop {
						font-size: 16px;
						margin: 0 0 12px;
					}
				}
				&-price {
					>span {
						color: @color-red;
					}
				}
				&-qty {
					font-family: 'roboto-bold', arial, sans-serif;
					font-size: 32px;
					margin: 0 0 37px;
					@media @mquery-desktop {
						font-size: 16px;
						margin: 0;
					}
					span {
						@media @mquery-desktop {
							display: none;
						}
					}
				}
				&-thumb {
					width: 33%;
					@media @mquery-desktop {
						width: 16.7%;
					}
					img {
						border: 1px solid @color-alto;
					}
				}
			}
		}
		&-paiement-method {
			display: flex;
			font-size: 32px;
			justify-content: space-between;
			padding: 52px 44px;
			@media @mquery-desktop {
				font-size: 16px;
				justify-content: inherit;
				padding: 26px 22px;
			}
			&-text {
				font-family: 'roboto-bold', arial, sans-serif;
				min-width: 18%;
			}
			&-value {
				font-family: 'roboto-light', arial, sans-serif;
			}
		}
	}
	.price {
		&--base {
			font-size: 32px;
			@media @mquery-desktop {
				font-size: 16px;
			}
		}
		&--currency {
			font-size: 32px;
			@media @mquery-desktop {
				font-size: 16px;
			}
		}
		&--discount {
			font-family: 'roboto-bold', arial, sans-serif;
			font-size: 32px;
			@media @mquery-desktop {
				font-size: 16px;
			}
			>span {
				font-family: 'roboto-light', arial, sans-serif;
			}
		}
		&--sticker {
			font-family: 'roboto-bold', arial, sans-serif;
			font-size: 28px;
			margin: 0 0 26px;
			padding: 9px 21px;
			@media @mquery-desktop {
				font-size: 14px;
				margin: 0 0 13px;
				padding: 5px 10px;
			}
		}
		&--strike {
			font-family: 'roboto-light', arial, sans-serif;
			font-size: 32px;
			margin: 0 33px 0 0;
			@media @mquery-desktop {
				font-size: 16px;
				margin: 0;
			}
		}
		&--line {
			display: block;
			@media @mquery-desktop {
				align-items: center;
				display: block;
				flex-direction: row;
				justify-content: space-between;
			}
			&.firstline {
				@media @mquery-desktop {
					flex-direction: row;
					width: 56.53%;
				}
			}
			&.secondline {
				margin: 0 0 38px 0;
				@media @mquery-desktop {
					flex-direction: column;
					margin: 0;
				}
			}
		}
	}
	.promotion {
		color: @color-secondary;
		font-family: 'roboto-light', arial, sans-serif;
		font-size: 24px;
		@media @mquery-desktop {
			font-size: 16px;
		}
	}
}
