#cookie-bar {
	position: relative;
	.cb-enable {
		// close button
		align-items: center;
		background: url('@{img-theme-path}svg/close-white.svg') no-repeat center center @color-promo-banner-close-bg-mobile;
		background-size: 50%;
		bottom: 0;
		color: @color-promo-banner-close-mobile;
		display: flex;
		justify-content: center;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		width: 3em;
		@media screen and @mquery-desktop-min {
			background-color: @color-promo-banner-close-bg-desktop;
			width: 2.75em;
		}
	}
	.promo-banner {
		background-color: @color-emerald;
		padding: 1%;
		position: relative;
		@media screen and @mquery-desktop-min {
			padding: 0.5% 0;
		}
		&--close {
			background-color: @color-promo-banner-close-bg-mobile;
			bottom: 0;
			display: flex;
			position: absolute;
			right: 0;
			.svgColor(@color-promo-banner-close-mobile,
			true,
			true);
			top: 0;
			width: 15%;
			@media screen and @mquery-desktop-min {
				background-color: @color-promo-banner-close-bg-desktop;
				.svgColor(@color-promo-banner-close-desktop,
				true,
				true);
				width: inherit;
			}
			img {
				width: 100%;
				@media screen and @mquery-desktop-min {
					width: 56px;
				}
			}
			svg {
				left: 50%;
				margin: auto;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 70%;
				@media screen and @mquery-desktop-min {
					width: 70%;
				}
			}
		}
		&--content {
			ul {
				color: @color-white;
				font-family: 'roboto-light', arial, sans-serif;
				font-size: 16pxi;
				list-style: none;
				margin: inherit;
				padding: 0;
				text-align: center;
				@media screen and @mquery-desktop-min {
					display: flex;
					flex-direction: row;
					justify-content: center;
					padding: 1%;
				}
				li {
					@media screen and @mquery-desktop-min {
						margin: 0 5px;
					}
				}
			}
		}
	}
	>p {
		// remove useless p tags created in JS (we can't edit the JS :/ )
		display: none;
	}
}
