#divDeliverySlots {
	padding: 0 48px 40px;
	@media @mquery-desktop {
		padding: 0 0 20px;
	}
	#divDeliverySlotsTable {
		margin: 0 0 1rem;
	}
	#divFavoriteSlot {
		font-family: 'roboto-bold', arial, sans-serif;
		font-size: 32px;
		padding: 24px;
		@media @mquery-desktop {
			font-size: 16px;
			padding: 12px;
		}
	}
	#divSelectSlot {
		margin: 1rem 0 0;
		[data-status='unavailable'] {
			&:hover {
				background-color: @color-jungle-green;
				color: @color-white;
			}
		}
	}
	#divShowSlots {
		color: @text-color;
		font-family: 'roboto-regular', arial, sans-serif;
		font-size: 32px;
		@media @mquery-desktop {
			font-size: 16px;
		}
		.lnkShowSlots {
			color: @color-secondary;
			font-family: 'roboto-light', arial, sans-serif;
			font-size: 32px;
			margin: 40px 0;
			@media @mquery-desktop {
				font-size: 16px;
				margin: 20px 0;
			}
			a {
				color: @color-secondary;
			}
		}
	}
	.deliverySlot {
		border-bottom: 1px solid @color-nobel;
		border-right: 1px solid @color-nobel;
		font-family: 'roboto', arial, sans-serif;
		font-size: 24px;
		padding: 25px;
		text-align: center;
		@media @mquery-desktop {
			font-size: 0.71rem;
			padding: 12px;
		}
	}
	[data-status='available'] {
		background-color: rgb(50,205,50);
		font-weight: bold;
		position: relative;
		&:hover {
			background-color: rgb(50,205,50);
			color: @color-white;
			&:before {
				bottom: 0;
				left: 0;
				margin: auto;
				position: absolute;
				right: 0;
				text-align: center;
				top: 0;
			}
		}
		&.selected {
			background: url('/_ui/responsive/theme-sharjah/images/svg/check-white.svg') center center no-repeat;
			background-color: rgb(50, 205, 50);
			background-position: center;
			background-size: 2.5rem;
			color: #008000;
			transition: background 1000ms;
		}
	}
	[data-status='unavailable'] {
		background-color: @color-mercury;
		position: relative;
		&:after {
			background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="none" viewBox="0 0 100 100"><path d="M100 0 L0 100" stroke="@{color-nobel}" stroke-width="1"/></svg>');
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
		}
	}
	h3 {
		font-family: 'roboto-bold', arial, sans-serif;
		font-size: 32px;
		margin: 0;
		padding: 24px;
		@media @mquery-desktop {
			font-size: 1.1rem;
			padding: 12px;
		}
	}
	table {
		border-left: 1px solid @color-nobel;
		border-top: 1px solid @color-nobel;
	}
	th {
		border-bottom: 1px solid @color-nobel;
		border-right: 1px solid @color-nobel;
		font-size: 32px;
		text-align: center;
		@media @mquery-desktop {
			font-size: 0.71rem;
		}
	}
	#deliveryPerferedSlot {
		option {
		    font-family: 'roboto-light', arial, sans-serif;
		}
	}
}
