.flex {
	display: flex;
	&--1 {
		flex: 1;
	}
	&--2 {
		flex: 2;
	}
	&--dir {
		&-row {
			flex-direction: row;
		}
		&-col {
			flex-direction: col;
		}
	}
	&--space {
		&-around {
			justify-content: space-around;
		}
		&-between {
			justify-content: space-between;
		}
	}
	&--align {
		&-baseline {
			align-items: baseline;
		}
		&-center {
			align-items: center;
		}
		&-flex {
			&-end {
				align-items: flex-end;
			}
			&-start {
				align-items: flex-start;
			}
		}
	}
}
