.lang-style {
	.english {


		background: url('@{img-common-path}icons/icon-english-flag.png');
		background-size: 100%;
		content: '';
		height: 50%;
		right: 106%;
		top: 25%;
		width: 10%;
	}
}
