.mini-cart {
	&--item {
		@media @mquery-desktop {
			position: relative;
		}
		&-minicart {
			@media @mquery-desktop {
				width: 3em;
			}
		}
	}
	&--link {
		&--count {
			color: @color-white;
			display: inline-block;
			position: relative;
			text-align: center;
			&-total {
				background-color: @color-red;
				border-radius: 50%;
				font-size: 18px;
				height: auto;
				position: absolute;
				right: 21%;
				text-align: center;
				top: -25%;
				width: 24%;
			}
		}
		&--price {
			color: @color-dark-grey;
			display: none;
			margin-right: 4%;
			position: relative;
			.price--value {
				font-weight: 600;
			}
		}
	}
	.count {
		background-size: 100%;
		color: black;
		font-family: 'roboto-bold', arial, sans-serif;
		font-size: 18px;
		position: absolute;
		right: 1.5em;
		top: 0;
		z-index: 1;
		@media @mquery-desktop {
			font-size: 14px;
			right: 10px;
			top: -0.8em;
		}
		&:after {
			background: url('@{img-theme-path}shape-border-gray.png') no-repeat center center;
			background-size: 100%;
			content: ' ';
			display: block;
			height: 2em;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 2em;
			z-index: -1;
		}
	}
	.price {
		display: none;
		margin-right: 1em;
		@media @mquery-desktop {
			display: block;
			span {
				color: gray;
			}
		}
		&--currency {
		    padding-left: 8px;
			@media @mquery-desktop {
				color: @link-color-secondary;
				font-family: 'roboto-light', arial, sans-serif;
				font-size: 16px;
			}
		}
		&--value {
			@media @mquery-desktop {
				color: @link-color-secondary;
				font-family: 'roboto-bold', arial, sans-serif;
				font-size: 16px;
			}
		}
	}
	>a {
		display: flex;
	}
}

.underHeader_overlay {
	opacity: 0.3;
	overflow: hidden;
	pointer-events: none;
}
