.navbar {
	border: inherit;
	display: flex;
	flex-direction: row;
	margin-bottom: inherit;
	&--content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0.75em;
		width: 82.5%;
		@media @mquery-tablet {
			width: 86%;
		}
	}
	&--burger {
		position: relative;
		width: 17.5%;
		@media @mquery-tablet {
			width: 14%;
		}
		.btn {
			background-color: @color-red;
			color: @color-black;
			height: 100%;
			padding: 1em;
			position: absolute;
			width: 100%;
			z-index: 1;
		}
	}
	&--icon {
		display: flex;
		flex-direction: row;
		margin: 0;
		width: 46.59%;
		@media @mquery-tablet {
			width: 40%;
		}
		&-item {
			flex: 1;
			position: relative;
			a .icon {
				bottom: 0;
				display: block;
				padding: 0.3em;
				position: absolute;
				top: 0;
				width: 100%;
			}
		}
	}
	&--item {
		margin: 0;
	}
	&--logo {
		text-align: center;
		width: 53.41%;
		@media @mquery-tablet {
			padding-left: 1em;
			width: 40%;
		}
		a {
			display: block;
			height: 100%;
			padding-right: 1em;
			position: relative;
		}
	}
	&--sign {
		&-in {
			&--icon {
				span {
					background-size: 100%;
					color: @color-white;
					font-family: 'roboto-bold', arial, sans-serif;
					font-size: 18px;
					position: absolute;
					right: 1.5em;
					top: 0;
					z-index: 1;
					@media @mquery-tablet {
						font-size: 36px;
						right: 0.75em;
					}
					&:after {
						background: url('@{img-theme-path}shape-circle-red.png') no-repeat center center;
						background-size: 100%;
						content: ' ';
						display: block;
						height: 2em;
						left: 50%;
						position: absolute;
						top: 50%;
						transform: translate(-50%, -50%);
						width: 2em;
						z-index: -1;
					}
				}
				.sticky-nav-top & {
					display: none;
				}
			}
			&--link {
				display: none;
				font-family: 'roboto-regular', arial, sans-serif;
				font-size: 40px; // padding: 0.45em;
				.sticky-nav-top &,
				.userSign & {
					display: block;
				}
			}
		}
	}
	.logout-label-link {
		display: none;
		navigation__overflow & {
			display: block;
		}
	}
}
