.navigation-info {
	display: flex;
	justify-content: center;
	margin-left: 5%;
	&--language {
		padding: 0 0 0 16px;
	}
	>ul {
		align-items: center;
		display: flex;
		font-family: 'roboto-light', arial, sans-serif;
		font-size: 16px;
		list-style: none;
		margin: 0;
		padding: 0; // &-language {
		// 	select {
		// 		appearance: none;
		// 		background: url('@{img-theme-path}svg/fleche2.svg') no-repeat 0 0;
		// 		background-size: 30%;
		// 		border: 0;
		// 		outline: 0;
		// 		padding: 0 0 0 55%;
		// 		transform: rotate(180deg);
		// 		width: 100%;
		// 	}
		// }
		&-location {
			position: relative;
		}
		li {
			position: relative;
			&:after {
				border-right: 1px solid @color-red;
				content: '';
				display: block;
				height: 18px;
				right: 0;
				.valign(50%, inherit);
				width: 0;
			}
			&:nth-child(1) {
				.icon {
					margin-left: 0;
				}
				a {
					padding: 0 25px 0 0;
				}
			}
			>a {
				align-items: center;
				color: @color-black;
				display: flex;
				font-size: 16px;
				padding: 0 25px 0 20px;
				text-align: right;
				text-decoration: none;
			}
			.icon {
				height: 24px;
				margin-right: 11px;
				width: 24px;
			}
		}
	}
}
