.navigation-shopping {
	display: inline-block;
	font-family: 'roboto-regular', arial, sans-serif;
	font-size: 16px;
	margin-left: 1em;
	.icon {
		display: inline-block;
		height: 1.75em;
		left: 0;
		margin-right: 0.5em;
		.valign(50%);
		width: 1.75em;
		@media @mquery-desktop {
			height: 24px;
			width: 24px;
		}
		&--cart {
			@media @mquery-desktop {
				height: 28px;
				width: 28px;
			}
		}
	}
	.item {
		position: relative;
	}
	ul {
		align-items: flex-end;
		display: flex;
		list-style: none;
		@media screen and @mquery-desktop-min {
			//background-color: #eeefef;
		    border: 1px solid transparent;
		    border-bottom: 0;
    		//border-radius: 25px;
    		border-top: 0;
		}
		.item--miniCart {
			@media screen and @mquery-desktop-min {
			 border:1px solid @modal-header-border-color;
			}
		}
		.item-wishlist {
			@media screen and @mquery-desktop-min {
		     border:0.25px solid @modal-header-border-color;
			}
		}
		>li {
			flex: 1 2 auto;
			margin-left: 5px;
			margin-right: 5px;
			padding: 0.45rem;
			position: relative;
			width: auto;
			&:nth-child(1) {
				.icon {
					margin-left: 0.5rem;
				}
			}
			a {
				margin-left: 2em;
				text-align: center;
				&:focus {
					text-decoration: none;
				}
			}
		}
		li:last-child:after {
			content: none;
		}
		li:first-child .icon {
			left: 0px;
		}
	}
	.price--currency {
		color:@modal-header-border-color;
	}
	.price--value {
		color: @modal-header-border-color;
	}
}
