.navigation {
	background-color: @color-white;
	&--bottom {
		border-bottom: 1px solid @color-alto;
		@media (max-width: @screen-sm-max) {
			border-bottom: 0;
		}
	}
	&--left {
		display: none;
		@media screen and @mquery-desktop-min {
			display: flex;
			width: 33%;
		}
		&--logo {
			align-self: center;
			margin: auto;
			padding: 0 6.41%;
			width: 33.43%;
			@media @mquery-desktop {
				width: 54.43%;
				padding: 0 1.15em;
			}
			img {
				height: auto;
				margin: auto;
				width: 100%;
			}
		}
		&--shop {
			margin: 0 auto;
			text-transform: uppercase;
			width: 66.57%;
			@media @mquery-desktop {
				display: flex;
				justify-content: center;
			}
			>a {
  			align-self:flex-start;
				color: @color-red;
				display: inline-block;
				font-size: 0.7rem;
				font-weight: 600;
				margin: auto 1.5em 0 0;
				position: relative;
				text-align: center;
				text-decoration: none;
				img {
					display: block;
					margin: auto auto 0.6em;
				}
			}
		}
		.nav__links--primary {
			&:nth-child(1) {
				@media @mquery-desktop {
					margin-left: 12%;
				}
			}
			.sub__navigation {
				opacity: 0.99;
				@media @mquery-desktop {
					width: 100%;
				}
				.row {
					@media @mquery-desktop {
						display: flex;
						flex-wrap: wrap;
						max-width: 60%;
						margin: auto auto auto 11.5%;
						padding: 20px 0 116px;
						position: relative;
					}
					&.navigation-banner {
						display: block;
						left: 70%;
						margin: 0;
						position: absolute;
						top: 0;
					}
					.banner__component.banner {
						&:nth-child(2) {
							top: 12em;
						}
					}
					.col-md-2 {
						@media @mquery-desktop {
							width: 25%;
						}
					}
					.sub-navigation-section .sub-navigation-list li {
						@media @mquery-desktop {
							background-color: transparent;
						}
						&.nav__link--secondary {
							a {
								@media @mquery-desktop {
									font-family: 'roboto-light', arial, sans-serif;
									font-size: 16px;
									font-weight: normal;
									margin: 0;
									padding: 0;
									text-transform: none;
								}
							}
						}
						&.nav__link--secondary--child2 {
							a {
								@media @mquery-desktop {
									color: rgba(0, 0, 0, 0.7);
									font-family: 'roboto-bold', arial, sans-serif;
									font-size: 0.6153846153846154rem;
									margin: 0;
									padding: 0;
									text-transform: none;
								}
							}
						}
					}
					.title {
						@media @mquery-desktop {
							font-family: 'roboto-bold', arial, sans-serif;
							font-size: 16px;
							text-transform: none;
						}
					}
				}
			}
		}
	}
	&--middle {
		display: none;
		@media screen and @mquery-desktop-min {
			display: block;
			margin: auto;
			width: 33%;
		}
		&--site-search {
			margin-left: 5%;
			margin-top: 0.5%;
			.site-search {
				@media screen and @mquery-desktop-min {
					background-color: @color-white;
				}
				.search-box {
					position: relative;
				}
				.ui-front {
				    padding: 0.77rem 0 0 0;
				}
			}
			@media screen and @mquery-desktop-min {
				background-color: @color-white;
			}
		}
	}
	&--mobile {
		width: 100%;
		@media screen and @mquery-desktop-min {
			display: none;
		}
	}
	&--right {
		display: none;
		@media screen and @mquery-desktop-min {
			display: block;
			margin: 0 18px 0 auto;
			text-align: center;
			width: 33%;
		}
/* 		&-item {
	float: left;
} */
		&-item--margin {
			margin-top: 5%;
		}
	}
	&--wrapper {
		display: flex;
		padding: 0;
		@media screen and @mquery-desktop-min {
			padding: 0.5% 0;
		}
	}
	.myAccountLinksContainer {
		.icon {
			background-size: 50%;
			display: none; // hide because not ask in design but to future purpose
			position: absolute;
			right: 0;
			top: 0;
			width: 18.25%;
		}
	}
	.sticky-nav-top {
		background-color: @color-red;
		color: @color-white;
		margin: 0;
		padding: 0;
		>li {
			display: flex;
			flex-direction: row;
			position: relative;
			.close-nav {
				bottom: 0;
				position: absolute;
				right: 0;
				top: 0;
				width: 18.5%;
				button {
					background-color: transparent;
					border-left: 1px solid @color-white;
					height: 100%;
					width: 100%;
				}
			}
			.mobile-lang-switcher {
				width: 21.5%;
			}
			.user-name {
				.ellipsisString();
				font-family: 'roboto-light', arial, sans-serif;
				font-size: 32px;
			}
			.userGroup {
				direction: ltr;
				display: flex;
				padding: 20px 0;
				width: 60%;
				.icon {
					background-size: 45%;
					width: 20.45%;
				}
				.userName {
					width: 79.55%;
				}
			}
			.userSign {
				color: @color-white;
				display: flex;
				font-family: 'roboto-light', arial, sans-serif;
				font-size: 40px;
				padding: 13px 0;
				text-align: center;
				width: 100%;
				.icon {
					display: none;
				}
				.navbar--sign-in--link {
					font-size:30px;
					width: 100%;
				}
			}
		}
	}
	.sub-navigation-section {
		.title {
			background: url('@{img-theme-path}svg/plus.svg') no-repeat 97% center;
			background-size: 8%;
			@media @mquery-tablet-l {
				background: none;
			}
			&.open {
				background: url('@{img-theme-path}svg/minus.svg') no-repeat 97% center;
				background-size: 8%;
				@media @mquery-tablet-l {
					background: none;
				}
			}
		}
	}
}
.displayChildDesktop {
    display: none;
}
.displayChildMobile {
    display: none;
}
header {
	@media @mquery-desktop {
		border-top: 15px solid @color-old-brick;
	}
}
.header__head {
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px 0 15px;
    width:100%;
}
.header .logo {
padding:0 15px;
width:54%;
}

.search{
	padding-top: 70px;
}

.header .logo img {
	width: 57%;
}

.search-box form .input-group .form-control {
	border: 2px solid #e2e2e2;
	border-radius: 30px;
	padding: 20px 38px 20px 60px;
	position: relative;
}

.search-box form .input-group .input-group-btn {
       height: 94%;
       padding: 0px 10px;
       position: absolute;
       right:0px;
       top:2px;
       width: 65px;
}

.search-box form .input-group .input-group-btn button {
	border: 0px;
	height: 100%;
	width: 100%;
}

.navigation--left--shop {
    justify-content: left;
	margin-left: 15px;
	padding-bottom: 15px;
}

.navigation--left--shop a.shopCategory {
	background: #6d6e70;
	border-radius: 4px;
	color: #fff;
	float: left;
    font-size: 16px;
	padding: 10px;
	text-transform: uppercase;
}
.header__menu {
	background: @color-thunderbird;
	border-bottom: 1px solid #ababad;
	border-top: 1px solid #ababad;
}

.header__menu .main-menu {
	display:inline-block;
	margin-top:7px;
	width: 100%;
}

.header__menu .main-menu li {
	float: left;
	width: 16%;
}

.header__menu .main-menu li a {
	color: #FFFFFF;
	display: block;
	font-size: 17px;
	font-weight: bold;
	padding-top: 5px;
}

.header__menu .main-menu li a span {
	vertical-align: middle;
}

.header__menu .main-menu li a span img {
	margin-right: 5px;
}


.items-wrapper {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	left: 0px;
	padding: 10px;
	position: absolute;
	text-transform: uppercase;
}

.header__categories {
	border-bottom: 0px solid #ababad;
	display: block;
	position: inherit;
	top: none;
}
.header__categories .navigation--bottom {
	border: 0px;
}

.header__categories .categories {
	margin-left: -7px;
	margin-right: -7px;
	padding: 12px 0;
}
.categoriesMenu{
background-color: @color-mercury;
margin-bottom:15px;
}
.categoriesMenu .header__categories ul.categories>li {
	float: left;
	padding-bottom: 10px;
	padding-left: 7px;
	padding-right: 7px;
	width: 12.45%;
}
.categoriesMenu .header__categories ul.categories>li a {
	background-color: white;
	border-radius: 5px;
	color: #ed2027;
	display: block;
	font-size: 14px;
	padding: 15px 0px;
	text-align: center;
	width:90%;
}

.categoriesMenu .header__categories ul.categories>li a img {
	display: block;
	margin: 0px auto;
}

.navigation--left--shop {
	width: 100%;
}

.navigation--left--shop {
	margin-left: 0px;
	padding: 0px 15px;
}

.navigation--bottom .nav__links--products>li a {
	margin: auto;
}


.header__categories .categories {
	padding-bottom: 0px;
}

.navigation--bottom .nav__links--primary .sub-navigation-section .sub-navigation-list li.nav__link--secondary a
	{
	font-size: 12px;
	font-weight: 100;
	padding: 2px 5px 3px 0px;
}
.navigation--bottom .nav__links--primary .sub-navigation-section .sub-navigation-list li
	{
	background: transparent;
}
.navigation--bottom .nav__links--primary .sub-navigation-section .sub-navigation-list a
	{
	text-align: left;
}
.navigation--bottom .nav__links--primary .sub-navigation-section .sub-navigation-list a
	{
	border: 0px;
	color: @color-thunderbird;
	padding-left: 0px;
}
.navigation--bottom .nav__links--primary .sub-navigation-section .sub-navigation-list.has-title a
	{
	color: #000;
}

.header__categories {
	opacity: 1;
}

.navigation--bottom .show-sub .nav__link a {
	background-color: #f9f9f9;
	color: #ed2027;
}

.navbar--sign-in--link {
	font-size: 20px;
	padding-left: 30px;
	text-align: left;
}
.navigation--bottom .nav__links--products li a {
	font-size: 1rem;
	font-weight: normal;
}
.navigation--bottom .nav__links--products li a img {
	display:inline-block;
	margin-right: 0.7rem;
	vertical-align:bottom;
	width: 1.5rem;
}

#underHeader {
	overflow: hidden;
	overflow-y: auto;
}

.sub__navigation.js_sub__navigation .row {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	flex-wrap: wrap;
	margin: auto auto auto 11.5%;
	max-width: 60%;
	ms-flex-wrap: wrap;
	padding: 0.7692307692307694rem 0 4.461538461538462rem;
	position: relative;
}

.sub__navigation.js_sub__navigation .row.navigation-banner {
	display: block;
	left: 70%;
	margin: 0;
	position: absolute;
	top: 0;
}

.sub-navigation-section.col-md-2 {
	width: 25%;
}

.navigation--bottom .nav__links--primary .sub__navigation {
	background: #fff;
	//border-left: 15px solid #f00;
	height: 420%;
	left: 7px;
	overflow-y: auto;
}
.sub__navigation.js_sub__navigation .row {
	padding-bottom: 30px;
}

.navigation-shopping .price--currency{
	color:#959798;
}
.navigation-shopping .price--value{
	color:#959798;
}
.totalPrice{
	font-size:18px;
	right: 290px;
	top: 6px;
}
.navigation-account{
	padding-left:40px;
}
.categoriesMenu .navigation-menu{
	background: #f3f3f3;
    display: block;
    left: 0px;
    opacity: 1;
    position: inherit;
    top: inherit;
}
@media ( min-width :768px) {
	search-box form .input-group .form-control {
	padding: 15px 20px 18px 40px;
	}
	search-box form .input-group .input-group-btn {
	width: 80px;
	}
.skiptocontent a {
	font-size: 0.5rem;
	}
	.footer--container--top--content {
	display: inherit;
	}
	.main-menu img.link-comp-img {
	margin-bottom: 5px;
	margin-right: 10px;
	width: 20px;
	}
.secondheaderDesktop {
	margin: 0px;
	}
.navigation--bottom .nav__links--products li a{
	padding:15px 15px 15px 40px;
}
}
@media screen and (min-width:1023px) {
.search-box form .input-group .form-control {
    border: 2px solid #e5e5e5;
    border-radius: 25px;
    border-right: 2;
  }
.search-box form .input-group .input-group-btn{
  	border:0px;
  }
  .navigation--wrapper{
  padding:0px;
  }
}

@media ( min-width :1024px) {
	header .logo{
	width: 100%;
	}
	skiptocontent a{
	font-size: 0.75rem;
	}
	.search-box form .input-group .form-control {
	font-size: 16px;
	height: 45px;
	padding: 10px 15px 11px 25px;
	}
}

@media ( max-width :992px) {
	.categoriesMenu {
		display: none;
	}
	.header__head{
		display: none;
	}
	.secondheaderDesktop {
		display: none;
	}
	.search-box form .input-group .form-control {
		border-radius: 0px;
		padding: 15px 80px 18px 15px;
	}
	.navigation--bottom{
	top:0px;
	}
.totalPrice.js-mini-cart-price{
display:none;
}
}
@media ( min-width :992px) {
.search-box form .input-group .input-group-btn{
	border:0px;
}
.header .logo{
	margin-top:20px;
	width:58%;
}
.header .logo img{
	width:100%;
}
.header__head{
margin-bottom:0px;
padding-top:0px;
}
.totalPrice{
font-size: 18px;
}
.navigation-shopping .price--currency{
color: @color-dark-grey;
}
.navigation--right-item nav__right{
text-align: center;
}
.navigation--cart{
padding-right:20px;
text-align:right;
}
#underHeader{
mrgin-top:15px;
}
}
#cart_list{
margin-left: 10px;
}
.paddingL0{
padding-left:0px;
}
