.order-detail-overview {
	@button-height: 56px;
	.overview-row() {
		.row();
		height: 56px;
	}
	.value-group() {
		margin-top: 4%;
		@media screen and @mquery-desktop-min {
			margin-top: 0;
		}
	}

	.container-fluid();
	background-color: @color-concrete;
	width: 100%;
	.large-text();

	&--button {
		float: right;
		font-size: 1rem;
		height: 76px;
		margin-right: 1%;
		margin-top: 4%;
		padding: 0 5% 0 5%;
		width: 100%;
		@media screen and @mquery-desktop-min {
			height: 56px;
			margin-top: 0;
			width: initial;
		}
	}

	&--date-placed {
		.make-xs-column(12);
		.make-sm-column(3);
		.value-group();
	}

	&--first-row {
		.overview-row();
	}

	&--label {
		display: block;
		float: left;
		font-weight: bold;

		@media screen and @mquery-desktop-min {
			float: none;
		}
	}

	&--order-number {
		.make-xs-column(12);
		.make-sm-column(3);
		.value-group();
		margin-top: 6%;
	}

	&--second-row {
		.overview-row();
		padding-top: 3%;
	}

	&--shipping {
		font-size: 28px;
		margin-bottom: 15px;
		@media screen and @mquery-desktop-min {
			font-size: 20px;
		}
	}

	&--shipping-label {
		font-weight: bold;
	}

	&--status {
		.make-xs-column(12);
		.make-sm-column(2);
		.value-group();
	}

	&--total {
		.make-xs-column(12);
		.make-xs-column-offset(0);
		.make-sm-column(2);
		.make-sm-column-offset(4);
		.value-group();
	}

	&--value {
		display: block;
		float: right;
		@media screen and @mquery-desktop-min {
			display: inline;
			float: none;
		}
	}
}
