.personal-details-form {
	.form();

	&--card-picture {
		@media (max-width: @screen-sm-max) {
			margin-bottom: 10px;
			width: 100%;
		}
	}
	&--bottom-button-row {
		padding-top:2%;
		width: 50%;
	}
	&--shareholder-row {
		padding-bottom: 1%;
		.has-error {
			margin-bottom: 4em;
			position: inherit;
			@media @mquery-desktop {
				margin-bottom: 3em;
			}
		}
		.help-block {
			left: 1em;
			max-width: 85%;
			position: absolute;
			text-align: initial;
			white-space: initial;
		}
	}

	&--mobile-phone-part-2 {
		width: 100%;
	}
	& .button--secondary {
		@media (max-width: @screen-sm-max) {
			margin-bottom: 37px;
		}
	}
}

.double-inline-radio-boxes {
	& .control {
		& > span {
			display: inline-block;
			width: 50%;
		}

		& label {
			display: inline;
		}
	}
}

.row--separation {
	border-bottom: 1px solid @color-alto;
	padding-bottom: 4%;
}

.arrow-left {
	background: url('../images/svg/arrow-left.svg') no-repeat 0 0;
   background-position-x: -5%;
   background-position-y: center;
   background-size: 20%;
   padding-left: 5%;
}

.mobile-input{
	text-align: center;
}

.card-picture{
	@media (max-width: @screen-sm-max) {
		margin-bottom: 40px;
	}
	@media @mquery-desktop {
		margin-right: 48px;
	}
	&-mobile {
		@media (max-width: @screen-sm-max) {
			margin-bottom: 100px;
		}
	}
}
.account-section-form {
	.btn-block {
		@media (max-width: @screen-sm-max) {
			margin-bottom: 41px;
		}
	}
}
.content-account{
	width: 50%;
}
