.price {
	&--base {
		color: @text-color;
		display: inline-block;
		font-family: 'roboto-bold', arial, sans-serif;
	}
	&--currency {
		color: @text-color-secondary;
		font-family: 'roboto-bold', arial, sans-serif;
	}
	&--discount {
		color: @text-color-secondary;
		font-family: 'roboto-bold', arial, sans-serif;
	}
	&--line {
		display: flex;
		flex-direction: row;
	}
	&--sticker {
		background-color:@color-pink;
		border-radius: 6px;
		color: @color-white;
		display: inline-block;
		font-family: 'roboto-bold', arial, sans-serif;
		padding: 8px 18px;
		top: 0;
	}
	&--strike {
		color: @color-red;
		display: inline-block;
		font-family: 'roboto-bold', arial, sans-serif;
		text-decoration: line-through;
	}
	&--total {
		color: @text-color-secondary;
		display: inline-block;
		font-family: 'roboto-bold', arial, sans-serif;
		text-align: center;
	}
}
