.product-config {
	color: @text-color;
	font-family: 'roboto-light', arial, sans-serif;
	&--title {
		font-size: 24px;
		@media @mquery-desktop {
			font-size: 16px;
			margin: 0px;
		}
	}
	select {
		border: 1px solid @color-alto;
		border-radius: 6px;
		font-size: 24px;
		@media @mquery-desktop {
			font-size: 16px;
			padding: 10px 38px 10px 12px;
		}
	}
}
