.product-list {
	@media @mquery-desktop {
		display: flex;
		flex-direction: row;
	}
	&--filters {
		background-color: @color-white;
		display: none;
		padding: 0 0 50px;
		@media @mquery-desktop {
			display: block;
			width: 20.86%;
		}
	}
	&--list {
		direction: ltr;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: auto;
		width: 92.5%;
		@media @mquery-desktop {
			justify-content: inherit;
			width: 100%;
		}
		&>div {
			width: 48%;
			@media @mquery-desktop {
				width: 23%;
			}
		}
		.button {
			.icon {
				height: 1.8rem;
				@media @mquery-desktop {
					height: inherit;
				}
			}
		}
	}
	&--results {
		@media @mquery-desktop {
			padding: 0 0 0 69px;
			width: 79.14%;
		}
	}
	.page-selection {
		margin-bottom: 2rem;
		@media @mquery-desktop {
			margin: 0;
		}
	}
	.product-tile {
		margin: 0 0 3rem;
		@media @mquery-desktop {
			margin: 0 0.3rem 3rem;
		}
		&--buttons {
			font-size: 16px;
			@media @mquery-desktop {
				font-size: 14px;
			}
		}
		&--name {
			font-size: 18.54px;
			@media @mquery-desktop {
				font-size: 16px;
			}
		}
		&--price {
			.price {
				&--base {
					font-size: 24px;
					@media @mquery-desktop {
						font-size: 0.7rem;
					}
				}
				&--discount {
					font-size: 24px;
					@media @mquery-desktop {
						font-size: 0.7rem;
					}
				}
				&--strike {
					font-size: 20px;
					width: 100%;
					@media @mquery-desktop {
						font-size: 14px;
					}
				}
			}
		}
	}
	.product-tile--qty-selector {
		width: 100%;
		@media @mquery-desktop {
			width: 100%;
		}
		.qty-selector--input {
			@media @mquery-desktop {
				padding: 5px;
			}
		}
	}
}
.product-tile--wrapper{
border:1px solid #ddd;
padding:15px;
}
p.add-to-cart--availability-out-stock{
    color: @color-thunderbird;
    font-size: 16px;
    font-weight: 400;
    margin: 0px 65px;
    padding-left:20px;
    position: relative;
}
p.add-to-cart--availability-out-stock:before {
	background: url('@{img-theme-path}svg/close-carnation.svg') no-repeat 97% center;
    background-size: 100%;
    content: '';
    height: 140%;
    position: absolute;
    right: 90%;
    top: -22%;
    transform: translate(50%);
    width: 18px;
}
