.product-information {
	@media screen and @mquery-desktop-min {
		display: flex;
	}
	.title {
		font-family: PlayfairDisplay;
		font-size: 56px;
		font-weight: 600;
		margin-bottom: 5%;
		@media screen and @mquery-desktop-min {
			font-size: 40px;
		}
	}
	&--description {
		background-color: @color-concrete;
		font-size: 24px;
		padding: 5% 6.5% 7%;
		@media screen and @mquery-desktop-min {
			font-size: 16px;
			padding: 4% 9% 7% 10%;
			width: 50%;
		}
	}
	&--informations {
		background-color: @color-mercury;
		font-size: 24px;
		padding: 5% 6.5% 7%;
		@media screen and @mquery-desktop-min {
			font-size: 16px;
			padding: 4% 9% 7% 10%;
			width: 50%;
		}
		.product-classifications {
			.table {
				td.attrib {
					width: 35%;
				}
				tbody>tr>td {
					border-bottom: 1px solid @color-alto;
					border-top: 1px solid @color-alto;
				}
			}
		}
	}
}
.info-description{
    padding-top: 25px;
}
