		.product-details {
			@media screen and @mquery-desktop-min {
				display: flex;
				flex-direction: row;
			}
			&--fav-heart{
	  			font-size: 45px;
	  			margin-right: 75%;
    			margin-top: 5%;
	  			padding-left: 80%;
    			position: absolute;
    			z-index: 1;
    		  &--pink{
    				color:@color-pink;
    				}
    		 &--gray{
    				color:@color-gray-nickel;
    				}
			}
			&--carousel {
				@media screen and @mquery-desktop-min {
					display: inline-block;
					width: 50%;
				}
				&-name {
					font-family: arial;
					font-size: 56px;
					font-weight: 600;
					margin: 2% 0 1%;
					padding: 0 4%;
					text-align: left;
					@media screen and @mquery-desktop-min {
						margin: 0 15.5%;
						font-size: 1.2rem;
					}
				}
				.image-gallery {
					position: relative;
					@media screen and @mquery-desktop-min {
						margin: 0 17%;
					}
					.gallery-carousel {
						margin: 0 4% 4%;
						&--item {
							border: 1px solid @border-color;
							display: inline-block;
							margin: 0 -0.28em 0 0;
							width: 20%;
							img {
								height: auto;
								width: 100%;
							}
						}
					}
					.sticker:nth-of-type(1) {
						right: 0;
					}
					.sticker360 {
						height: 100%;
						left: inherit;
						margin-left: 0.28em;
						position: absolute;
						right: inherit;
						a {
							height: 100%;
							opacity: 0.5;
							transition:0.5s all;
							width: 100%;
							&:hover {
								opacity: 1;
							}
						}
					}
					.carousel--pdp {
						padding: 1pxi;
					}
					.empty--360--product {
						.sticker360 {
							height: inherit;
							margin-left: 0;
							position: relative;
							a {
								height: 2.5rem;
							}
						}
					}
				}
			}
			&--info {
				@media screen and @mquery-desktop-min {
					display: inline-block;
					width: 609px;
				}
				&--brand {
					margin: 2% 12% 5% 0;
					text-align: right;
					@media screen and @mquery-desktop-min {
						margin: 2% 12% 5% 2%;
						text-align: left;
					}
					&-img {
						height: auto;
						margin-bottom: 5%;
						margin-right: 1%;
						width: 25%;
						@media screen and @mquery-desktop-min {
							margin-top: 3%;
							width: 18%;
						}
					}
					&-link {
						color: @color-black;
						font-size: 24px;
						position: relative;
						text-decoration: none;
						@media screen and @mquery-desktop-min {
							font-size: 16px;
						}
						&::after {
							background: url('@{img-theme-path}svg/arrow.svg') no-repeat 0 0;
							background-size: 100%;
							content: '';
							height: 160%;
							position: absolute;
							right: -29%;
							top: -19%;
							transform: rotate(90deg);
							width: 27%;
							.svgColor(@color-red);
							@media screen and @mquery-desktop-min {
								display: none;
							}
						}
					}
				}
				&--first-section {
					margin: 4% 8% 4% 9%;
					@media screen and @mquery-desktop-min {
						align-items: flex-end;
						display: flex;
						justify-content: space-between;
						margin: 6% 0 1% 0%;
						padding: 0 25px;
					}
					&-add {
						color: @color-red;
						font-size: 32px;
						margin-top: 3%;
						@media screen and @mquery-desktop-min {
							font-size: 16px;
							margin-right: 43%;
						}
					}
					&-link {
						color: @color-black;
						font-size: 32px;
						position: relative;
						text-decoration: none;
						@media screen and @mquery-desktop-min {
							font-size: 16px;
						}
						&::after {
							background: url('@{img-theme-path}svg/arrow.svg') no-repeat 0 0;
							background-size: 100%;
							content: '';
							height: 105%;
							position: absolute;
							right: 0;
							top: 34%;
							transform: rotate(180deg);
							width: 15%;
							.svgColor(@color-red);
							@media screen and @mquery-desktop-min {
								display: none;
							}
						}
					}
					&-price {
					    padding-bottom: 10px;
						padding-left: 0px;
						text-align: left;
						@media screen and @mquery-desktop-min {
							text-align: left;
						}
						.price-currency {
							font-weight: 100;
						}
						.price--base{
							background-size:cover;
							color: @color-dark-gun-smoke;
							display:inline-flex;
							padding-left:0px;
							position: relative;
						    @media (min-width:992px){
							    position: absolute;
							    right: -8px;
						    }
						}
						.price--base,
						.price--discount {
						    color: @color-dark-gun-smoke;
						    left: 10px;
						    padding-left:0px;
							@media screen and @mquery-desktop-min {
								font-size: 30px;
								padding-left:10px;
							}
							span {
								font-size: 30px;
								@media screen and @mquery-desktop-min {
									font-size: 30px;
								}
							}
						}
						.price--strike {
						    display: block;
							font-size: 18px;
							margin: 0 50px 0 0;
							padding-left:0px;
							@media screen and @mquery-desktop-min {
								display: block;
								font-size: 18px;
								padding-left:10px;
							}
						}
					}
				}
				&--second-section {
					background-color: @color-concrete;
					padding: 3% 6.5% 10%;
					@media screen and @mquery-desktop-min {
						padding: 3% 0 1% 2.5%;
					}
					.qty-selector {
						margin: 0;
						width: 50%;
					}
				}
			}
		}
.posRel{
position:relative;
}
.stock-wrapper.add-to-cart--availability.clearfix
{
clear:both;
}
.stock-wrapper{
border-bottom: 1px solid #b0b0b2;
}

.product-details{
display:block;
}
.product-details--carousel{
width:100%;
}
.product-details--carousel .image-gallery{
margin:0px;
}
.product-details {
	border: 1px solid #f3f3f3;
	padding: 15px 10px;
}
.add-to-cart--second-section {
	display: block;
	margin: 0px;
	width: 100%;
}
.add-to-cart{
display:block;
}
.add-to-cart--actions{
margin-top:0px;
}
.product{
margin-top:15px;
width:100%;
}
.product-details--info{
	background: #f2f2f2;
	border: 1px solid #e6e6e6;
	margin:15px 0px 0px;
	padding: 15px;
}

.product-details--carousel .image-gallery .carousel--pdp{
margin:0px;
width:100%;
}
.pdp_productHead {
	color: @color-thunderbird;
	font-size: 30px;
	font-weight: bold;
	margin-bottom:0px;
	margin-top: 0px;
	padding-left: 20px;
	@media screen and @mquery-desktop-min {
		padding-left: 15px;
	}
}
.product-information .title{
color: @color-thunderbird;
font-size:16px;
margin-bottom:10px;
}
.tab-details{
	border-bottom: 1px solid #b0b0b2;
	margin-bottom: 10px;
}
.tab-details p{
	font-size:14px;
}
.product-classifications .table {
	font-size: 14px;
    margin-bottom: 15px;
    max-width: 100%;
	width: 100%;
}
.product-classifications .table tr{
	background: #e6e6e6;
	border-top: 3px solid #f2f2f2;
}

.product-classifications {
border-bottom: 1px solid #cfcfcf;
}

.product-details--info--second-section{
	font-size:18px;
	padding:0px;
}
.add-button-product-toCart{
	background:@color-thunderbird;
}
.add-button-product-whishlist{
	background:@color-thunderbird;
	border:0px;
	color:#fff;
}
.add-button-product-whishlist a {
color:#fff;
}
.add-button-product-whishlist a:hover {
color:#fff;
text-decoration: none;
}
 @media(min-width:992px){
.product-details--info{
margin:0px;
}
}
@media(min-width:1023px){
.product-details--info{
width:100%;
}
}
