.product-tile {
	padding: 8px;
	position: relative;
	width: 396px;
	@media @mquery-desktop {
		width: inherit;
	}
	&--buttons {
		display: flex;
		flex-direction: row;
		font-family: 'roboto-light', arial, sans-serif;
		font-size: 24px;
		justify-content: space-between;
		@media @mquery-desktop {
			font-size: 12px;
		}
		&-item {
			line-height: 25px;
			padding-top: 13px;
			width: 100%;
			.addtolist-en {
				@media @mquery-desktop {
					font-size: 0.468rem;
					padding: 0.3rem;
				}
				@media @mquery-mobile-max {
					font-size: 0.7rem;
					padding: 0.4rem;
				}
			}
			.addtolist-ar {
				@media @mquery-desktop {
					font-size: 0.49rem;
					padding: 0.08rem;
				}
				@media (min-width: 1920px) {
					font-size: 0.49rem;
					padding: 0.1rem;
				}
				@media @mquery-mobile-max {
					font-size: 0.64rem;
					padding: 0.1rem;
				}
			}
			.addtolist-home-ar {
				@media @mquery-mobile-max {
					padding: 0.36rem;
				}
			}
		}
		.add-button-cart {
			.add-button-toCart {
				@media @mquery-desktop {
					font-size: 0.49rem;
					padding: 0.3rem;
				}
				@media @mquery-mobile-max {
					font-size: 0.7rem;
					min-height:60px;
					padding: 0.4rem;
				}
			}
			.add-button-toCart-ar {
				@media @mquery-desktop {
					font-size: 0.55rem;
					padding: 0.35rem;
				}
				@media (min-width: 1920px) {
					font-size: 0.68rem;
					padding: 0.1rem;
				}
				@media @mquery-mobile-max {
					padding: 0.4rem 0;
				}
			}
		}
	}
	&--fav-heart{
	  		font-size: 33px;
	  		padding-left: 80%;
    	&--pink{
    	color:@color-pink;
    	}
    	&--gray{
    	color:@color-gray-nickel;
    	}
	}
	&--name {
		color: @color-black; // .ellipsisString();
		font-family: 'roboto-light', arial, sans-serif;
		font-size: 26.02px;
		margin-bottom: 20px;
		text-align: center;
		width: 100%;
		@media @mquery-desktop {
			font-size: 16px;
			margin-bottom: 0px;
			height: 30pxi;
		}
	}
	&--price {
		margin: auto auto 0;
		text-align: center;
		.price {
			text-align: center;
			&--base {
			    color:@color-thunderbird;
				font-size: 26.02px;
				@media @mquery-desktop {
					font-size: 0.7rem;
				}
			}
			&--discount {
			    display:block;
				font-size: 16.02px;
				margin-bottom: -10px;
				@media @mquery-desktop {
					font-size: 16px;
				}
			}
			&--strike {
				font-size: 22.77px;
				margin-right: 20px;
				@media @mquery-desktop {
					font-size: 14px;
				}
			}
		}
	}
	&--qty-selector {
		margin: 30px auto 20px;
		width: 60%;
		@media @mquery-desktop {
			margin: 15px auto 10px;
		}
	}
	&--thumb {
		margin: 0 0 0 0;
		position: relative;
		text-align: center;
		@media @mquery-desktop {
			margin: 0 0 0 0;
		}
		.price--sticker {
			align-items: center;
			border-radius: 50px;
			bottom: 0;
			display: flex;
			font-size: 16px;
			height: 50px;
			justify-content: center;
			padding: 14px 14px;
			position: absolute;
			width: 50px;
			@media @mquery-desktop {
				bottom: inherit;
				padding: 4px 7px;
				top: -45px;
			}
		}
		img {
			height: auto;
			margin: auto;
			width: 70%;
		}
	}
	&--wrapper {
		border-radius: 6px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 100%;
		position: relative;
		width: 100%;
	}
	&:active,
	&:hover {
		box-shadow: 0px 0px 8pxi fade(@color-red, 50%);
	}
	a {
		min-height: 100%; // fix for IE10
	}
	.addtolist-home-ar {
		@media @mquery-desktop and (max-width: 1439px) {
			font-size: 0.59rem;
			padding: 0.2rem 0;
		}
		@media (min-width: 1440px) {
			font-size: 0.59rem;
			padding: 0.25rem;
		}
	}
	.add-button-toCart-home-ar {
		@media (min-width: 1440px) {
			padding: 0.55rem;
		}
	}
	.button {
		display: block;
		height: 100%;
		width: 100%;
		.icon {
			margin-bottom: 8px;
			@media @mquery-desktop {
				padding: 4px;
			}
		}
	}
	.configure_form {
		display: none;
	}
	.sticker {
		position: absolute;
		top: 0;
	}
}
