.product-nutrition {
	padding-bottom: 12%;
	text-align: left;
	width:100%;
	@media screen and @mquery-desktop-min {
	padding-bottom: 7%;
	}
	&--container {
		background-position: center;
		background-size: cover;
		display: inline-block;
		display: flex;
		height: 100px;
		justify-content: space-around;
		width: 100%;
		&-category {
            background-color: @color-gun-smoke;
            border: 0px solid black;
            border-radius: 8px;
			color: white;
			display: inline-block;
			height: 156px;
			margin: -0.12em;
			padding-bottom: 12px;
			padding-top: 6px;
			position: relative;
			text-align: center;
			width: 19%;
			&-title {
				font-size: 14px;
				font-weight: 900;
				padding-top: 10px;
				text-transform: uppercase;
			}
			&-info {
			    background-color: white;
			    border: 0px solid black;
			    color:black;
				display: flex;
				flex-direction: column;
				font-size: 16px;
				height: 48%;
				justify-content: space-between;
				padding-top: 11px;
				span {
					&:last-child {
					 	bottom: 6px;
					 	color:white;
					 	display: block;
						font-size: 14px;
						font-weight: 500;
						left: 0px;
						position: absolute;
						text-align: center;
    					width: 100%;
					}
					&:first-child {
						padding-bottom: 7px;
					}
				}
			}
		}
	}
	&>p {
		font-family: PlayfairDisplay;
		font-size: 1.5rem;
		font-weight: bold;
	}
	.title {
			font-family: 'playfair-display-regular', arial, sans-serif;
			font-size: 25px;
			font-weight: normal;
			padding-left:5px;
	}
}
