.qty-selector {
	@border: 1px solid @color-gray-nickel;
	@border-radius: 4pxi;
	background-color: @color-mercury;
	position: relative;
	&--input {
		-moz-appearance: textfield;
		border: 0;
		border-bottom: @border;
		border-top: @border;
		color: @text-color;
		display: block;
		font-family: 'roboto-bold', arial, sans-serif;
		font-size: 32px;
		height: 100%;
		margin: 0 auto;
		padding: 10px 0;
		text-align: center;
		width: 40%;
		@media @mquery-desktop {
			font-size: 16px;
			min-height:35px;
		}
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			@media @mquery-desktop {
				display: none;
			    min-height:55px;
			}
		}
	}
	&--minus {
		border: @border;
		border-bottom-left-radius: @border-radius;
		border-top-left-radius: @border-radius;
		left: 0;
	}
	&--minus,
	&--plus {
		height: 100%;
		position: absolute;
		top: 0;
		width: 30%;
	}
	&--plus {
		border: @border;
		border-bottom-right-radius: @border-radius;
		border-top-right-radius: @border-radius;
		right: 0;
	}
	.symb {
		font-size: 36px;
		font-weight: normal;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		@media @mquery-desktop {
			font-size: 22px;
		}
		&--minus {
			top: 45%;
			transform: translate(-50%, -50%) scale(2, 1);
		}
		&--color {
			&-carnation {
				color: @color-carnation;
			}
		}
	}
}
