.reassurance-delivery {
	background-color: rgba(108, 111, 112, 0.2);
	/* .clearfix();
	.svgColor(@color-black);
	@media @mquery-desktop {
		padding: 40px 0;
	} */
	&--wrapper {
		margin: auto;
		@media @mquery-desktop {
			width: unit((1400px / 1920px) * 100, %);
		}
	}
	.item {
		position: relative;
		@media @mquery-desktop {
			text-align: center;
			width: 33%;
		}
		&:after {
			@media @mquery-desktop {
				background-color: #d8d9da;
				content: '';
				display: block;
				height: 3.5em;
				.valign(50%, inherit);
				right: 0;
				width: 1pxi;
			}
		}
		&:nth-last-child(1) {
			&:after {
				@media @mquery-desktop {
					display: none;
				}
			}
		}
		&--label {
			color: @color-reassurance-delivery-label;
			font-family: 'roboto-regular', arial, sans-serif;
			font-size: 24px;
			font-weight: bold;
			position: relative;
			text-align: center;
			@media @mquery-desktop {
				font-size: 0.9rem;
			}
		}
		.icon {
			background-size: auto 100%;
			height: 3rem;
			margin: 0 auto 25px;
			width: 100%;
			@media @mquery-desktop {
				background-size: auto 55%;
				height: 7.4rem;
				margin: 0;
			}
		}
	}
	ul {
		display: flex;
		flex-direction: row;
		list-style: none;
		padding: 0.7rem 0 0.7rem;
		width: 100%;
		@media @mquery-desktop {
			margin: 0;
		}
	}
	li {
		width: 33%;
		@media @mquery-desktop {
			align-items: center;
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
	}
	span {
		display: block;
	}
}
