.register-section {
	&--buttons {
		font-family: 'roboto-light', arial, sans-serif;
		font-size: 40px;
		@media @mquery-desktop {
			font-size: 20px;
		}
		.button {
			width: 100%;
			@media @mquery-desktop {
				padding: 20px;
				width: 65%;
			}
		}
	}
	&--description {
		font-family: 'roboto-light', arial, sans-serif;
		font-size: 32px;
		padding: 40px 48px 0;
		@media @mquery-desktop {
			font-size: 16px;
			padding: 20px 0 0;
		}
	}
	&--forgotten-password {
		margin: 0 0 36px;
		a {
			color: @color-secondary;
			font-family: 'roboto-light', arial, sans-serif;
			font-size: 32px;
		}
	}
	&--title {
		align-items: center;
		border: 1px solid @color-mercury;
		display: flex;
		padding: 3px;
		.icon {
			background-color: @color-concrete;
			background-size: 40% auto;
			height: 128px;
			width: 128px;
			@media @mquery-desktop {
				background-size: 50% auto;
				height: 64px;
				width: 64px;
			}
		}
		.title {
			font-family: 'playfairdisplay-bold', arial, sans-serif;
			font-size: 40px;
			font-weight: bold;
			padding: 0 47px 0 20px;
			@media @mquery-desktop {
				font-size: 24px;
				padding: 0 25px 0 20px;
			}
		}
	}
	.input {
		&-membershipnumber {
			&--cards {
				margin: 0 0 70px;
				@media @mquery-desktop {
					margin: 0 0 35px;
				}
				>div {
					margin: 0 0 40px;
					@media @mquery-desktop {
						margin: 0 0 20px;
					}
				}
				img {
					height: auto;
					width: 100%;
				}
			}
			&--link {
				color: @color-secondary;
				font-family: 'roboto-light', arial, sans-serif;
				font-size: 32px;
				margin: 0 0 60px;
				@media @mquery-desktop {
					font-size: 16px;
					margin: 0 0 30px;
				}
				a {
					color: @color-secondary;
				}
			}
			&--number {
				&-wrapper {
					display: flex;
					justify-content: space-between;
					margin: 0 0 36px;
					@media @mquery-desktop {
						margin: 0 0 18px;
					}
				}
			}
			&--prefix {
				width: 21%;
			}
			&--suffix {
				width: 74%;
			}
			.form-group {
				margin: 0;
				padding: 0;
				label {
					display: none;
				}
			}
			label {
				color: @text-color;
				font-family: 'roboto-bold', arial, sans-serif;
				font-size: 32px;
				padding: 0 0 15px 0;
				text-transform: inherit;
				@media @mquery-desktop {
					font-size: 16px;
					padding: 0 0 7px 0;
				}
			}
		}
		&-mobilephone {
			&--number {
				&-wrapper {
					display: flex;
					justify-content: space-between;
					margin: 0 0 36px;
				}
			}
			& .no-margin {
				margin: 0;
			}
			&--prefix {
				width: 20%;
			}
			&--prefix0 {
				width: 20%;
			}
			&--suffix {
				width: 51%;
			}
			.form-group {
				margin: 0;
				padding: 0;
				label {
					display: none;
				}
			}
			label {
				color: @text-color;
				font-family: 'roboto-bold', arial, sans-serif;
				font-size: 32px;
				padding: 0 0 15px 0;
				text-transform: inherit;
				@media @mquery-desktop {
					font-size: 16px;
					padding: 0 0 7px 0;
				}
			}
		}
		&-selectLang {
			&--form-label {
				margin: 0 0 60px;
				@media @mquery-desktop {
					margin: 0 0 30px;
				}
			}
			&--option {
				@media @mquery-desktop {
					margin: 0 36px 18px 0;
				}
				&-wrapper {
					display: flex;
					justify-content: space-between;
					margin: 0 0 36px;
					@media @mquery-desktop {
						justify-content: inherit;
					}
				}
			}
			label {
				color: @color-bombay;
				font-family: 'roboto-light', arial, sans-serif;
				font-size: 32px;
				font-weight: inherit;
				padding: 0 0 0 80px;
				position: relative;
				text-transform: inherit;
				@media @mquery-desktop {
					font-size: 16px;
					padding: 0 0 0 40px;
				}
				&:before {
					background-color: @color-white;
					border: 1px solid @color-mercury;
					border-radius: 50%;
					content: '';
					height: 48px;
					left: 0;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					width: 48px;
					@media @mquery-desktop {
						height: 24px;
						width: 24px;
					}
				}
			}
		}
	}
}
