.skiptocontent {
	background-color: @color-concrete;
	border-bottom: 2px solid @color-bombay;
	font-family: 'roboto', sans-serif, arial;
	margin: 0 0px 0 0;
	padding: 50px 20px 50px 0px;
	text-align: right;
	text-transform: uppercase;
	@media screen and @mquery-desktop-min {
		border-bottom: 0;
		margin: 0;
		padding: 25px 2%;
	}
	a {
		color: @color-black;
		font-size: 32px;
		padding: 0 55px 0 0;
		position: relative;
		@media screen and @mquery-desktop-min {
			color: @color-black;
			font-size: 16px;
			margin: 0 48px 0 0;
			padding: 0 30px 0 0;
		}
		&::after {
			background: url('@{img-theme-path}svg/arrow.svg') no-repeat 0 0;
			background-size: 100%;
			content: '';
			height: 130%;
			position: absolute;
			right: -50%;
			top: -37%;
			transform: translateX(50%);
			.svgColor(@color-red);
		}
	}
}
