.sticker {
	margin-right:75%;
    margin-top:5%;
	position: absolute;
	z-index: 1;
	&--price {
		align-items: center;
		background-color: @color-pink;
		border-radius: 75px;
		bottom: 0;
		color: #FFF;
		display: flex;
		font-weight: bold;
		height: 75px;
		justify-content: center;
		padding: 7px 14px;
		position: absolute;
		right: 33px;
		text-align: center;
		top: 0;
		width: 75px;
		@media @mquery-desktop {
			bottom: inherit;
			padding: 4px 7px;
			top: 0;
		}
	}

	img {
		height: 80px;
		width: 80px;
	}
}
