.totalPrice {
	bottom: 0;
	color: @color-dark-grey;
  max-width: 64%;
	position: absolute;
    right: 13.3rem;
	width: 64%;
	.price--line {
		flex-wrap: wrap;
		justify-content: start;
		> span {
			word-break: break-all;
		}
	}
}
