.wishItem {
	border-bottom: 1px solid @cart-borders-color;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 2.5rem 1rem;
	@media @mquery-desktop {
		padding: 40px 0;
		height: 197px;
	}
	&--qty {
		display: flex;
		margin: 0 0 0.3rem 0;
		white-space: nowrap;
		width: 100%;
		@media @mquery-desktop {
			margin-bottom: 10px;
			width: 5.5rem;
		}
		&-selector {
			display: inline-block;
			width: 68%;
			@media @mquery-desktop {
				height: 40px;
				width: 100%;
			}
			.qtyValue{
				font-size: 0.7rem;
			}
			.qty-selector {
					width: 100%;
					&--input {
						font-size: 32px;
						text-align: center;
						@media @mquery-desktop {
							font-size: 16px;
							padding: 7px 0;
						}
					}
					&--btn {
						background: transparent;
						padding: 0;
					}
				}

			.wishItem--qty-label {
				color: @color-black;
			}
		}
	}
	&--config {
		@media @mquery-desktop {
			align-self: baseline;
			width: 30%;
		}
		select {
			appearance: none;
			background: url('@{img-theme-path}svg/arrow-down-carnation.svg') no-repeat 97% center;
			background-size: auto 75%;
			max-width: 100%;
			width: 80%;
		}
	}
	&--delete {
		display: inline-block;
		position: relative;
		text-align: center;
		width: 38%;
		@media @mquery-desktop {
			width: 10%;
		}
		button {
			background: transparent;
		    border: 0;
		    float: right;
		    min-width: 3.5rem;
			padding: 0;
			@media @mquery-desktop {
				float: none;
				min-width: 1.5rem;
			}
		}
		.icon {
			background-position: 80%;
			background-size: 40%;
			@media @mquery-desktop {
				background-size: auto 85%;
				opacity: 0.3;
			}
		}
	}
	&--discount {
		&-text {
			color: @color-secondary;
			font-family: 'roboto-light', arial, sans-serif;
			font-size: 24px;
			@media @mquery-desktop {
				font-size: 16px;
			}
		}
	}
	&--image {
		width: 33%;
		@media @mquery-desktop {
			width: 11.3%;
		}
		a {
			border: 1px solid @color-alto;
			@media @mquery-desktop {
				margin: auto;
				width: 71.34%;
			}
		}
		img {
			width: 100%;
		}
	}
	&--infos {
		padding: 0;
		width: 100%;
		.quantity {
			float: left;
			width: 50%;
			@media screen and @mquery-desktop-min {
				float: none;
				width: 100%;
			}
		}
		@media screen and @mquery-desktop-min {
			width: 66%;
		}
		@media @mquery-desktop {
			display: flex;
			padding: 0;
			width: 100%;
		}
		&-details {
			font-size: 1rem;
			font-weight: bold;
			width: 100%;
			@media screen and @mquery-desktop-min {
				font-size: 0.6rem;
				width: 30%;
			}
			label {
				color: #000;
				font-size: 1rem;
				text-transform: none;
			}
			.infos-wl-entry {
				clear: both;
				display: block;
				font-size: 0.5rem;
			}
			.check {
				display: table-cell;
			}
		}
		&-part {
			@media @mquery-desktop {
				display: flex;
				flex-direction: row;
			}
			&-1 {
				@media @mquery-desktop {
					align-items: center;
					display: flex;
					justify-content: space-between;
					width: 70%;
				}
			}
			&-2 {
				@media @mquery-desktop {
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 30%;
				}
			}
		}
	}
	&--qty-selection-row {
		@media @mquery-desktop {
			align-items: center;
			display: flex;
			flex-direction: row;
			width: 100%;
		}
	}
	&--qty-label {
		display: inline;
		font-size: 24px;
		@media screen and @mquery-desktop-min {
			font-size: 28px;
		}
	}
	&--max-quantity-message {
		clear: both;
		color: @color-red;
		font-size: 20px;
		padding-top: 0.5rem;
		text-align: center;
		@media @mquery-desktop {
			font-size: 14px;
			padding-top: 0;
			text-align: left;
			width: 158px;
		}
	}
	&--name {
		font-family: 'roboto-bold', arial, sans-serif;
		font-size: 32px;
		margin-bottom: 20px;
		@media @mquery-desktop {
			font-size: 16px;
			margin-bottom: 0;
		}
		a {
			.ellipsisString(90%);
		}
	}
	&--price {
		font-size: 0.7rem;
		@media @mquery-desktop {
			display: flex;
			flex-direction: row;
			width: 36%;
		}
		.price {
			&--base {
				margin: 1rem 0 0;
			}
			&--sticker {
				margin: 0 0 25px;
			}
			&--strike {
				margin: auto 34px 0 0;
				@media @mquery-desktop {
					margin: 0 19px 0 0;
				}
			}
			&--base,
			&--currency,
			&--discount,
			&--sticker {
				@media @mquery-desktop {
					margin: 0 19px 0 0;
				}
			}
		}
	}
	&--stock {
		@media @mquery-desktop {
			margin: auto 0 0 0;
		}
		&-ok {
			color: @color-jungle-green;
			display: inline-block;
			font-family: 'roboto-bold', arial, sans-serif;
			font-size: 32px;
			margin-bottom: 16px;
			padding-left: 64px;
			width: inherit;
			@media @mquery-desktop {
				font-size: 16px;
				margin-bottom: 8px;
				padding-left: 32px;
			}
		}
		&-ko {
			color: @text-color;
			display: inline-block;
			font-family: 'roboto-bold', arial, sans-serif;
			font-size: 32px;
			margin-bottom: 16px;
			padding-left: 64px;
			width: inherit;
			@media @mquery-desktop {
				font-size: 16px;
				margin-bottom: 8px;
				padding-left: 32px;
			}
		}
		.icon {
			background-position: left;
		}
	}
	&--subinfos {
		@media @mquery-desktop {
			display: flex;
			flex-direction: column;
			height: 100%;
			width: 34%;
		}
	}
	&--total {
		display: block;
		float: right;
		width: 50%;
		@media screen and @mquery-desktop-min {
			float: none;
			padding: 0 1rem 0 0;
			width: 100%;
		}
		/*@media @mquery-desktop {
			padding: 0 1rem 0 0;
			width: 50%;
		}*/
	}
	.price {
		@media @mquery-desktop {
			align-items: baseline;
		}
		&--base,
		&--currency,
		&--discount,
		&--strike {
			font-size: 32px;
			@media @mquery-desktop {
				font-size: 16px;
			}
		}
		&--line {
			color: @color-red;
			font-size: 0.6rem;
			margin: 0 0 26px;
			@media @mquery-desktop {
				align-items: baseline;
				margin: 0;
			}
			>span {
				margin: 0.1rem 0.2rem;
				&.percentDiscount {
					background: @color-red;
					border-radius: 5px;
					color: @color-white;
					margin: 0 0.3rem;
					min-width: 3.2rem;
					padding: 0.1rem 0.2rem;
					text-align: center;
				}
				&.firstPrice {
					color: @color-gray;
					text-decoration: line-through;
				}
				&.discountPrice {
					font-weight: bold;
				}
				@media @mquery-desktop {
					height: 100%;
				}
			}
		}
		&--sticker {
			font-size: 28px;
			text-align: center;
			@media @mquery-desktop {
				border-radius: 4px;
				font-size: 14px;
				padding: 5px 10px;
				width: 88px;
			}
		}
		&--strike {
			font-size: 32px;
			@media @mquery-desktop {
				font-size: 16px;
			}
		}
		&--total {
			font-size: 1.2rem;
			@media @mquery-desktop {
				font-size: 0.7rem;
				text-align: right;
			}
		}
	}
}
.wishlist .availability--stock {
    color: #2db95d;
    font-family: 'roboto-light';
    font-size: 0.6923076923076923rem;
    font-weight: 600;
    position: relative;
}
.wishlist .out--stock {
    color: @color-thunderbird;
    font-family: 'roboto-light';
    font-size: 0.6923076923076923rem;
    font-weight: 600;
    position: relative;
}
